<section>
  <div class="login-clean" style="background-color: rgba(170,142,10,0.5);">
          <form method="post" style="padding-top: 25px;padding-bottom: 25px;">
              <h2 class="sr-only">Login Form</h2>
              <div class="illustration"><img class="img-fluid panel-title-image" src="Congo%20Logo.png"></div>
              <div class="form-group"><input class="form-control" type="email" name="email" placeholder="License #"></div>
              <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
              <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #aa8e0a;">Log In</button><a href="#" class="forgot" style="margin-top: 10px;"><span style="text-decoration: underline;">Forgot your license # or password?</span></a>
                  <a
                      href="#" class="forgot" style="margin: 0px;margin-top: 10px;"><span style="text-decoration: underline;">Want to become a Congo Merchant?</span></a>
              </div>
          </form>
  </div>
  <section>
