
<div class='homeWrapper'>   
  <div *ngIf=showBB class='promotedBanner'>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div  class="carousel-inner">
        <div class="carousel-item active">
          <a href='#'><img class="d-block w-100" src="{{bigBannerPromo[0]['promotionImage']}}" alt="First slide"></a>
        </div>
        <div class="carousel-item">
                <a href='#'><img class="d-block w-100" src="{{bigBannerPromo[1]['promotionImage']}}" alt="Second slide"></a>
        </div>
        <div class="carousel-item">
            <a href='#'><img class="d-block w-100" src="{{bigBannerPromo[2]['promotionImage']}}" alt="Third slide"></a>
        </div>
        <div class="carousel-item">
            <a href='#'><img class="d-block w-100" src="{{bigBannerPromo[3]['promotionImage']}}" alt="Fourth slide"></a>
        </div>
        <div class="carousel-item">
            <a href='#'><img class="d-block w-100" src="{{bigBannerPromo[4]['promotionImage']}}" alt="Fifth slide"></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class='recommendedProducts'>
    <p class='recHeader'>Recommended Products</p>
    <div class='recProduct'>
      <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
      <a href='#'>24-Karat Diamond-Tipped Stapler</a>
    </div>
    <div class='recProduct'>
        <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
        <a href='#'>24-Karat Diamond-Tipped Stapler</a>
    </div>
    <div class='recProduct'>
        <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
        <a href='#'>24-Karat Diamond-Tipped Stapler</a>
    </div>
    <div class='recProduct'>
        <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
        <a href='#'>24-Karat Diamond-Tipped Stapler</a>
    </div>
    <div class='recProduct'>
        <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
        <a href='#'>24-Karat Diamond-Tipped Stapler</a>
    </div>
    <div class='recProduct'>
        <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
        <a href='#'>24-Karat Diamond-Tipped Stapler</a>
    </div>
  </div>
  <div class='previouslyViewed' *ngIf=showFP>
    <p class='prevHeader'>Featured Products</p>
    <div class='viewedProduct'>
        <a href='#'><img src="{{featuredProductsPromo[0]['images'][0]}}" alt='featured'></a>
        <a href='#' [routerLink]="['/product',featuredProductsPromo[0]['_id']]">{{featuredProductsPromo[0]['name']}}</a>
    </div>
    <div class='viewedProduct'>
        <a href='#'><img src="{{featuredProductsPromo[1]['images'][0]}}" alt='featured'></a>
        <a href='#' [routerLink]="['/product',featuredProductsPromo[1]['_id']]">{{featuredProductsPromo[1]['name']}}</a>
    </div>
    <div class='viewedProduct'>
        <a href='#'><img src="{{featuredProductsPromo[2]['images'][0]}}" alt='featured'></a>
        <a href='#' [routerLink]="['/product',featuredProductsPromo[2]['_id']]">{{featuredProductsPromo[2]['name']}}</a>
    </div>
    <div class='viewedProduct'>
        <a href='#'><img src="{{featuredProductsPromo[3]['images'][0]}}" alt='featured'></a>
        <a href='#' [routerLink]="['/product',featuredProductsPromo[3]['_id']]">{{featuredProductsPromo[3]['name']}}</a>
    </div>
    <div class='viewedProduct'>
        <a href='#'><img src="{{featuredProductsPromo[4]['images'][0]}}" alt='featured'></a>
        <a href='#' [routerLink]="['/product',featuredProductsPromo[4]['_id']]">{{featuredProductsPromo[4]['name']}}</a>
    </div>
    <div class='viewedProduct'>
        <a href='#'><img src="{{featuredProductsPromo[5]['images'][0]}}" alt='featured'></a>
        <a href='#' [routerLink]="['/product',featuredProductsPromo[5]['_id']]">{{featuredProductsPromo[5]['name']}}</a>
    </div>
  </div>
  <div *ngIf=showSB class='sponsorSmall'>
    <a href='#'><img src="{{smallBannerPromo[0]['promotionImage']}}" alt='Sponsor'></a>
  </div>
  <div class='previouslyViewed'>
      <p class='prevHeader'>Previously Viewed</p>
      <div class='viewedProduct'>
          <a href='#'><img src='https://dtpmhvbsmffsz.cloudfront.net/posts/2016/04/27/572134302599fe9b0c000bf0/m_572134302599fe9b0c000bf1.jpg' alt='Previously Viewed'></a>
          <a href='#'>Lululemon Men's Athletic Shorts</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='https://dtpmhvbsmffsz.cloudfront.net/posts/2016/04/27/572134302599fe9b0c000bf0/m_572134302599fe9b0c000bf1.jpg' alt='Previously Viewed'></a>
          <a href='#'>Lululemon Men's Athletic Shorts</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='https://dtpmhvbsmffsz.cloudfront.net/posts/2016/04/27/572134302599fe9b0c000bf0/m_572134302599fe9b0c000bf1.jpg' alt='Previously Viewed'></a>
          <a href='#'>Lululemon Men's Athletic Shorts</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='https://dtpmhvbsmffsz.cloudfront.net/posts/2016/04/27/572134302599fe9b0c000bf0/m_572134302599fe9b0c000bf1.jpg' alt='Previously Viewed'></a>
          <a href='#'>Lululemon Men's Athletic Shorts</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='https://dtpmhvbsmffsz.cloudfront.net/posts/2016/04/27/572134302599fe9b0c000bf0/m_572134302599fe9b0c000bf1.jpg' alt='Previously Viewed'></a>
          <a href='#'>Lululemon Men's Athletic Shorts</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='https://dtpmhvbsmffsz.cloudfront.net/posts/2016/04/27/572134302599fe9b0c000bf0/m_572134302599fe9b0c000bf1.jpg' alt='Previously Viewed'></a>
          <a href='#'>Lululemon Men's Athletic Shorts</a>
      </div>
    </div>
    <div *ngIf=showSB class='sponsorSmall'>
      <a href='#'><img src="{{smallBannerPromo[1]['promotionImage']}}" alt='Promoted Product'></a>
    </div>
    <div class='previouslyViewed'>
      <p class='prevHeader'>Previously Viewed</p>
      <div class='viewedProduct'>
          <a href='#'><img src='http://sc01.alicdn.com/kf/HTB1VbayeL5TBuNjSspmq6yDRVXa2/2018-new-skin-wraps-for-juul-186.jpg' alt='Viewed Product'></a>
          <a href='#'>Supreme Juul Skin</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='http://sc01.alicdn.com/kf/HTB1VbayeL5TBuNjSspmq6yDRVXa2/2018-new-skin-wraps-for-juul-186.jpg' alt='Viewed Product'></a>
          <a href='#'>Supreme Juul Skin</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='http://sc01.alicdn.com/kf/HTB1VbayeL5TBuNjSspmq6yDRVXa2/2018-new-skin-wraps-for-juul-186.jpg' alt='Viewed Product'></a>
          <a href='#'>Supreme Juul Skin</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='http://sc01.alicdn.com/kf/HTB1VbayeL5TBuNjSspmq6yDRVXa2/2018-new-skin-wraps-for-juul-186.jpg' alt='Viewed Product'></a>
          <a href='#'>Supreme Juul Skin</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='http://sc01.alicdn.com/kf/HTB1VbayeL5TBuNjSspmq6yDRVXa2/2018-new-skin-wraps-for-juul-186.jpg' alt='Viewed Product'></a>
          <a href='#'>Supreme Juul Skin</a>
      </div>
      <div class='viewedProduct'>
          <a href='#'><img src='http://sc01.alicdn.com/kf/HTB1VbayeL5TBuNjSspmq6yDRVXa2/2018-new-skin-wraps-for-juul-186.jpg' alt='Viewed Product'></a>
          <a href='#'>Supreme Juul Skin</a>
      </div>
    </div>
</div>