<div class="features-boxed" style="background-color: #ffffff;">
        <div class="container">
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color: rgba(198,160,12,0.5);">
                        <h3 class="name">Thank you!</h3>
                        <p class="description">Thanks for registering to be a Congo Merchant with us. We will be reviewing your application over the next couple of days and will receive and email whether or not you have been accepted. </p>
                        <a href="#" class="learn-more" style="color: rgb(35,35,35);" [routerLink]="['']">Homepage »</a></div>
                </div>
            </div>
        </div>
    </div>
