form{
    width:400px;
    background:rgb(255, 232, 99);
    display:block;
    margin:auto;
    margin-top:10px;
    border-radius:8px;
    margin-bottom:10px;
}
form input{
    display:block;
    margin:auto;
    margin-top:5px;
    width:270px;
}
form h2{
    display:block;
    text-align: center;
    margin-top:10px;
}
form button{
    display:block;
    margin:auto;
    margin-top:10px;
}