<form>
  {{newProduct | json}}
  <h2>Add Product</h2>
  <label for="prod_name">Product Name</label>
  <input type='text' name='prod_name' placeholder='name' [(ngModel)]='newProduct.name'>
    <div class="row">
    <p class="red" *ngIf=showErr_name>Enter a name.</p>
    </div>
    <div class="col" style="text-align: center;">
        <label>Description</label>
            <textarea [(ngModel)]='newProduct.description' rows="4" cols="30" name='newProduct.description' >Value</textarea>
    </div>
    
 <label>Add Images</label>
 <div class="row" >
        <!-- <input type='text' name='image' placeholder='image'  [(ngModel)]='images[0]'> -->
    <input type='text' name='image' placeholder='image'  [(ngModel)]='newProduct.image'>
 </div>
 <p class="red" *ngIf=showErr_image>Enter image url.</p>


  <input type='text' name='price' placeholder='$' [(ngModel)]='newProduct.price'>
  <p class="red" *ngIf=showErr_price>Enter price.</p>
  <input type='text' name='size' placeholder='size' [(ngModel)]='newProduct.size'>
  <p class="red" *ngIf=showErr_size>Enter sizes as comma seperated list.</p>
  <label for="sizes"><small class="form-text text-danger">Small, medium, or large</small></label>


  <input type='text' name='color' placeholder='color' [(ngModel)]='newProduct.color'>
  <p class="red" *ngIf=showErr_color>Enter colors as comma seperated list.</p>

  <input type='text' name='tag' placeholder='tag' [(ngModel)]='newProduct.tag'>
  <!--<label for="multiple_tags">Separate multiple tags by a comma ","</label><-->
  <p class="red" *ngIf=showErr_tag>Enter tags as comma seperated list.</p>
  <label for="multiple_tags">Separate tags by space, NO COMMAS.</label>


  <input type='text' name='category' placeholder='category' [(ngModel)]='newProduct.category'>
  <p class="red" *ngIf=showErr_category>Enter category.</p>
  <button (click)='createProduct()'>Create</button>
</form>

<!--
<form class='register' method='post'>
  <p class='big'>Registration</p>

  <div class='single'>
      <p>First Name:</p>
      <input type='text' name='first_name' placeholder='first name' [(ngModel)]='first_name'>
  </div>
  <p class='red' *ngIf=showErr_firstname>Enter valid first name.</p>

  <div class='single'>
      <p>Last Name:</p>
      <input type='text' name='last_name' placeholder='last name' [(ngModel)]='last_name'>
  </div>
  <p class='red' *ngIf=showErr_lastname>Enter valid last name.</p>

  <div class='single'>
      <p>Phone Number:</p>
      <input type='text' name='phone_number' placeholder='phone number' [(ngModel)]='phone_num'>
  </div>
  <p class='red' *ngIf=showErr_phoneNum>Enter valid phone number.</p>

  <div class='single'>
      <p>Email:</p>
      <input type='text' name='email' placeholder='email' [(ngModel)]='email'>
  </div>
  <p class='red' *ngIf=showErr_email>Enter valid email.</p>

  <div class='single'>
      <p>Password:</p>
      <input type='password' name='password' placeholder='password' [(ngModel)]='password'>
  </div>
  <p class='red' *ngIf=showErr_password>{{password_err}}</p>

  <div class='single'>
      <p>Confirm PW:</p>
      <input type='password' name='confirm' placeholder='confirm' [(ngModel)]='password_validated'>
  </div>
  <p class='red' *ngIf=showErr_confirm>Password doesn't match.</p>

  <input class='register login' type='submit' (click)="submitButton()" value='Register'>
</form>
-->

<!--
<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-btn">
       <button class="btn btn-default" type="button">Go!</button>
  </span>
</div>
-->
