<form>
  <h2>Add Product</h2>
  <input type='text' name='prod_name' placeholder='name' [(ngModel)]='newProduct.name'>
  <input type='text' name='description' placeholder='description' [(ngModel)]='newProduct.description'>
  <input type='text' name='image' placeholder='image' [(ngModel)]='newProduct.image'>
  <button (click)='addImage()'>Add image</button>
  <input type='text' name='price' placeholder='$' [(ngModel)]='newProduct.price'>
  <input type='text' name='size' placeholder='size' [(ngModel)]='newProduct.size'>
  <button (click)='addSize()'>Add size</button>
  <input type='text' name='color' placeholder='color' [(ngModel)]='newProduct.color'>
  <button (click)='addColor()'>Add color</button>
  <input type='text' name='tag' placeholder='tag' [(ngModel)]='newProduct.tag'>
  <button (click)='addTag()'>Add tag</button>
  <button (click)='createProduct()'>Create</button>
</form>

<!--
<form class='register' method='post'>
  <p class='big'>Registration</p>
  
  <div class='single'>
      <p>First Name:</p>
      <input type='text' name='first_name' placeholder='first name' [(ngModel)]='first_name'>
  </div>
  <p class='red' *ngIf=showErr_firstname>Enter valid first name.</p>
     
  <div class='single'>
      <p>Last Name:</p>
      <input type='text' name='last_name' placeholder='last name' [(ngModel)]='last_name'>
  </div>
  <p class='red' *ngIf=showErr_lastname>Enter valid last name.</p>
 
  <div class='single'>
      <p>Phone Number:</p>
      <input type='text' name='phone_number' placeholder='phone number' [(ngModel)]='phone_num'>
  </div>
  <p class='red' *ngIf=showErr_phoneNum>Enter valid phone number.</p>
     
  <div class='single'>
      <p>Email:</p>
      <input type='text' name='email' placeholder='email' [(ngModel)]='email'>
  </div>
  <p class='red' *ngIf=showErr_email>Enter valid email.</p>
     
  <div class='single'>
      <p>Password:</p>
      <input type='password' name='password' placeholder='password' [(ngModel)]='password'>
  </div>
  <p class='red' *ngIf=showErr_password>{{password_err}}</p>
      
  <div class='single'>
      <p>Confirm PW:</p>
      <input type='password' name='confirm' placeholder='confirm' [(ngModel)]='password_validated'>
  </div>
  <p class='red' *ngIf=showErr_confirm>Password doesn't match.</p>

  <input class='register login' type='submit' (click)="submitButton()" value='Register'>
</form>
-->

<!--
<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-btn">
       <button class="btn btn-default" type="button">Go!</button>
  </span>
</div>
-->