form{
    width:400px;
    background:rgb(255, 232, 99);
    display:block;
    margin:auto;
    margin-top:10px;
    border-radius:8px;
    margin-bottom:10px;
}
form input{
    display:block;
    margin:auto;
    margin-top:5px;
    width:270px;
}
form h2{
    display:block;
    text-align: center;
    margin-top:10px;
}
form button{
    display:block;
    margin:auto;
    margin-top:10px;
}

/*
@media only screen and (min-width:600px){
    div.single *{
        display:inline-block;
        width:fit-content;
    }
    div.single input{
        float:right;
        margin:0px;
        margin-bottom:10px;
        width:230px;
    }
    div.single p{
        margin-top:5px;
        margin-bottom:20px;
    }
    form.register{
        width:430px;
    }
    select{
        float:right;
    }
    input.register{
        margin:auto;
        margin-top:30px;
    }
  }
  */