<section style="background-color: #ffffff;">
<div class="row register-form" >
       <div class="col-md-8 offset-md-2" >
           <form class="custom-form" style="background-color: rgba(198,160,12,0.5);"><small class="form-text text-danger" style="margin-bottom: 10px;">Help text for a form field.</small>
             <h1 style="margin-bottom: 25px;">Add Product</h1>
               <div class="form-row form-group" style="margin-bottom: 10px;">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Product Name</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><input class="form-control" type="text"></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter a valid product name</small></div>
                       </div>
                   </div>
               </div>
               <div class="form-row form-group" style="margin-bottom: 10px;">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Price</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><input class="form-control" type="text"></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter a valid price (numbers only).</small></div>
                       </div>
                   </div>
               </div>
               <div class="form-row form-group" style="margin-bottom: 10px;">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Description</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><textarea class="form-control"></textarea></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter valid sizes separated by tags</small></div>
                       </div>
                   </div>
               </div>
               <div class="form-row form-group" style="margin-bottom: 10px;">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Image Url Links</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><input class="form-control" type="text"></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter a valid url.</small></div>
                       </div>
                   </div>
               </div>
               <div class="form-row form-group" style="margin-bottom: 10px;">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Categories</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><input class="form-control" type="text"></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter a valid url.</small></div>
                       </div>
                   </div>
               </div>
               <div class="form-row form-group" style="margin-bottom: 10px;">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Tags</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><input class="form-control" type="text"></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter valid tags separated by tags</small></div>
                       </div>
                   </div>
               </div>
               <div class="form-row form-group" style="margin-bottom: 10px;">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Size</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><input class="form-control" type="text"></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter valid sizes separated by tags</small></div>
                       </div>
                   </div>
               </div>
               <div class="form-row form-group">
                   <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Color</label></div>
                   <div class="col-sm-6 input-column">
                       <div class="form-row">
                           <div class="col"><input class="form-control" type="text"></div>
                       </div>
                       <div class="form-row">
                           <div class="col"><small class="form-text text-danger">Enter valid colors separated by tags</small></div>
                       </div>
                   </div>
                   <div class="col"><button class="btn btn-light submit-button" type="button" style="background-color: #373737;">Add Product</button></div>
               </div>
           </form>
       </div>
   </div>
</section>
