

  <!-- Add Product -->
    <div class="text-input">
      <input type="text" id="input1" placeholder="Enter product name here">
      <label for="input1">Product</label>
    </div>
    <div class="text-input">
      <input type="text" id="input1" placeholder="Enter product description here">
      <label for="input1">Description</label>
    </div>
    <div class="text-input">
      <input type="text" id="input1" placeholder="Enter product price here (in $)">
      <label for="input1">Price</label>
    </div>
    <div class="text-input">
      <input type="text" id="input1" placeholder="Enter url/jpg for product picture here">
      <label for="input1">Picture</label>
    </div>
    <div class="submit">
      <a class="button" href="#">Submit</a>
    </div>



