<main>

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Add Product</label>

  <!-- Add Product -->
  <section id="content1">
    <div class="text-input">
      <input type="text" id="input1" placeholder="Enter product name here">
      <label for="input1">Product</label>
    </div>
    <div class="text-input2">
      <input type="textarea" id="input1" placeholder="Enter product description here">
      <label for="input1">Description</label>
    </div>
    <div class="text-input">
      <input type="text" id="input1" placeholder="Enter product price here (in $)">
      <label for="input1">Price</label>
    </div>
    <div class="text-input">
      <input type="text" id="input1" placeholder="Enter url/jpg for product picture here">
      <label for="input1">Picture</label>
    </div>
    <div class="submit">
      <!-- <input type="submit" name="submitbutton" value="Click Here!"> -->
      <!-- <button onclick="location.href='http://localhost:8000'" type="button">Submit</button> -->
      <!-- <a href="http://localhost:8000"><button>Submit</button></a> -->
      <!-- 
        <tr>
          <td><a class="btn btn-ltblue" href="#">Submit</a></td>
        </tr>
      -->
      <a class="button" href="#">Submit</a>
    </div>
  </section>

</main>
