<section style="background-color: #ffffff;">
<div class="container">
       <div class="row" >
         <div class="col">
              <h1>Order Numder #[]</h1>
          </div>
          <div class="col"><button class="btn btn-secondary" type="button" style="margin-left: 325px;background-color: rgba(198,160,12,0.9);margin-top: 10px;" [routerLink]="['/orders']">Back to Purchase History</button></div>
       </div>
       <div class="row">
           <div class="col">
               <h4>Date Placed:</h4>
           </div>
       </div>
       <div class="row">
           <div class="col">
               <h4>Number of Items:</h4>
           </div>
       </div>
       <div class="col" style="background-color: rgba(198,160,12,0.55);padding-bottom: 10px;">
           <div class="row" style="background-color: rgba(198,160,12,0);padding-top: 5px;">
               <div class="col">
                   <h5>Image</h5>
               </div>
               <div class="col">
                   <h5>Name</h5>
               </div>
               <div class="col">
                   <h5>Color</h5>
               </div>
               <div class="col">
                   <h5>Size</h5>
               </div>
               <div class="col">
                   <h5>Quantity</h5>
               </div>
               <div class="col">
                   <h5>Total ($)</h5>
               </div>
           </div>
           <div class="row" style="margin-top: 10px;background-color: rgba(198,160,12,0);">
               <div class="col"><img></div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">$100.78</p>
               </div>
           </div>
           <div class="row" style="margin-top: 10px;background-color: rgba(198,160,12,0);">
               <div class="col"><img></div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">$100.78</p>
               </div>
           </div>
           <div class="row" style="margin-top: 10px;background-color: rgba(198,160,12,0);">
               <div class="col"><img></div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">Lorem ipsum</p>
               </div>
               <div class="col">
                   <p style="margin-top: 25px;">$100.78</p>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col">
               <h4 style="margin-top: 10px;height: 20px;">Total Price:</h4>
           </div>
       </div>
       <div class="row">
            <div class="col" style="padding-bottom: 15px;"><button class="btn btn-secondary" type="button" style="background-color: rgba(198,160,12,0.9);margin-top: 15px;">Cancel Order&nbsp;</button></div>
        </div>
      </div>
</section>
