<section style="background-color: #ffffff;">
<div class="container">
       <div class="row" >
         <div class="col">
              <h4 style="padding-top:10px;">Order Numder #{{this.orderid}}</h4>
          </div>
          <div class="col"><button class="btn btn-secondary" type="button" style="margin-left: 325px;background-color: rgba(198,160,12,0.9);margin-top: 10px;" [routerLink]="['/orders']">Back to Purchase History</button></div>
       </div>
       <div class="row">
           <div class="col">
               <h4>Date Placed: {{order[0]['createdAt'] | date}}</h4>
           </div>
       </div>
       <div class="row">
           <div class="col">
               <h4>Number of Items: {{num_items}}</h4>
           </div>
       </div>
       <div class="col" style="background-color: rgba(198,160,12,0.55);padding-bottom: 10px;">
           <div class="row" style="background-color: rgba(198,160,12,0);padding-top: 5px;">
               <div class="col">
                   <h5>Image</h5>
               </div>
               <div class="col">
                   <h5>Name</h5>
               </div>
               <div class="col">
                   <h5>Color</h5>
               </div>
               <div class="col">
                   <h5>Size</h5>
               </div>
               <div class="col">
                   <h5>Quantity</h5>
               </div>
               <div class="col">
                   <h5>Total ($)</h5>
               </div>
           </div>
           <div *ngFor="let item of order">
             <div class="row" style="margin-top: 10px;background-color: rgba(198,160,12,0);">
                 <div class="col">  <img src="{{item['product']['images'][0]}}" style="height:100px; width:100px;"> </div>
                 <div class="col">
                     <p style="margin-top: 25px;">{{item['product']['name']}}</p>
                 </div>
                 <div class="col">
                     <p style="margin-top: 25px;">{{item['color']}}</p>
                 </div>
                 <div class="col">
                     <p style="margin-top: 25px;">{{item['size']}}</p>
                 </div>
                 <div class="col">
                     <p style="margin-top: 25px;">{{item['quantity']}}</p>
                 </div>
                 <div class="col">
                     <p style="margin-top: 25px;">${{item['total']}}</p>
                 </div>
             </div>
           </div>


       </div>
       <div class="row">
           <div class="col">
               <h4 style="margin-top: 10px;height: 20px;">Total Price: {{this.total}}</h4>
           </div>
       </div>
       <div class="row">
            <div class="col" style="padding-bottom: 15px;"><button class="btn btn-secondary" type="button" style="background-color: rgba(198,160,12,0.9);margin-top: 15px;">Cancel Order&nbsp;</button></div>
        </div>
      </div>
</section>
