<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div class='thisWrapper'>
  <p class='pageTitle'>Your Products</p>
  <button class='addButton' [routerLink]="['/dummyAdd']">ADD PRODUCT</button>
  <div class='products'>
    <!-- Product -->
    <div class='product' *ngFor='let product of products'>
      <img [routerLink]="['/product', product._id]" src="{{product['images'][0]}}" alt='Product image'>
      <p class='productName'>{{product.name}}</p>
      <div class='buttons'>
        <!--><button class='green'>E</button><-->
        <button class='green' (click)="edit(product._id)">E</button>
        <button class='red'>R</button>
        <button class='blue' [routerLink]="['/promote', product._id]">P</button>
      </div>
    </div>
  </div>
</div>
