<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div class='thisWrapper'>
  <p class='pageTitle'>Your Products</p>
  <button class='addButton'>ADD PRODUCT</button>
  <div class='products'>
    <!-- Product -->
    <div class='product'>
      <img [routerLink]="['']"src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
      <p class='productName'>Diamond Tipped Stapler</p>
      <div class='buttons'>
        <button class='green'>E</button>
        <button class='red'>R</button>
        <button class='blue'>P</button>
      </div>
    </div>
    <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>
      <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>
      <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>
      <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>
      <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>
      <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>
      <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>
      <!-- Product -->
    <div class='product'>
        <img src='https://acco-product-images.s3.amazonaws.com/mbank23315_w1400_h1400.jpg' alt='Product image'>
        <p class='productName'>Diamond Tipped Stapler</p>
        <div class='buttons'>
          <button class='green'>E</button>
          <button class='red'>R</button>
          <button class='blue'>P</button>
        </div>
      </div>

  </div>
</div>