<<<<<<< HEAD
#PageFrame{
  width:970px;
  background:white/*radial-gradient( rgb(174, 111, 194),rgb(66, 5, 33))*/;
  height:1000px;
}
#header{
  position:relative;
  background:goldenrod;
  /* display:inline-block; */
}
#quickDescript{
  position: relative;
  left:400px;
  display:inline-block;
}
#title{
  width:180px;
  display:inline-block;
  padding-left:15px;
  font-size:35px;
}
h3{
  font-size:22px;
  margin:0px;
}
h4{
  font-size:18px;
  margin:0px;
}
.miniHeader{
  color:white;
  background:linear-gradient(rgb(185, 185, 185),rgb(128, 128, 128), rgb(185, 185, 185));
  padding-top:10px;
  padding-bottom:10px;
  padding-left:8px;
}

.product{
  display:inline-block;
  margin:3px;
  /* width:295px; */
  width:303px;
  /* position:relative;
  top:-62px; */
}
#Products{
  position:relative;
  top:-62px;
  margin:10px;
}
.productImage{
  /* width:295px; */
  width:303px;
  margin:0px;
}

h5{
  font-size:16px;
  margin:0px;
  position:relative;
  top:-4px;
}

a.button{
  padding:10px;
  background:black;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 0.5s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid gray;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}

a.button:hover{
  background: #bba359;
  border-bottom:3px solid gold;
  color:#fff;
}
.checked {
  color: orange;
}

#Product1{
  position:relative;
  top:-674px;
}

#Product2{
  position:relative;
  top:-580px;
  left:320px;
}

#Product3{
  position:relative;
  left:20;
}

/*
.grid-container {
    background: var(--bg);
    display: grid;
    height: 100%;
    grid-template-columns: 0.5fr 3fr 0.2fr;
    grid-template-rows: 0.4fr 0.4fr 12.5fr 0.3fr 0.4fr;
    grid-gap: 10px 10px;
    grid-template-areas: ". . ." ". . ." "Filter DisplayContent ." ". Pagenumbers ." ". . .";
}

.centerFilter {
  margin: auto;
}

.Filter {
  border: 2px solid #000000;
  grid-area: Filter; }

.Pagenumbers { 
    display: grid;
    grid-area: Pagenumbers;
    grid-template-columns: 1.3fr 1.3fr 0.4fr;
    grid-template-rows: 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "prev next showPage" "prev next showPage";
}

.prev { grid-area: prev; }

.next { grid-area: next; }

.showPage { grid-area: showPage; }

.DisplayContent {
    display: grid;
    grid-area: DisplayContent;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.1fr 1.9fr;
    grid-gap: 1px 1px;
    grid-template-areas: "CategoryFilter NumberResult" "Products Products";
}

.CategoryFilter {
    display: grid;
    grid-area: CategoryFilter;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "Category SearchBy" "Category SearchBy";
    
}

.Category { grid-area: Category;}

.SearchBy { grid-area: SearchBy; }

.number { grid-area: number; }

.showNumber { 
  text-align: center;
  vertical-align: bottom;
  grid-area: showNumber; }

.per { grid-area: per; }

.Products { 
  grid-area: Products; 
}

@media all and (-ms-high-contrast: none){
    .grid-container {
        display: -ms-grid;
        -ms-grid-columns: 0.5fr 3fr 0.2fr;
        -ms-grid-rows: 0.4fr 0.4fr 3.5fr 0.3fr 0.4fr;
    }

    .Filter {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .Pagenumbers {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    }

    .DisplayContent {
        display: -ms-grid;
    -ms-grid-columns: 1.5fr 0.5fr;
    -ms-grid-rows: 0.1fr 1.9fr;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    }

    .CategoryFilter {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    }

    .NumberResult {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .Products {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2; 
    }
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 10px;
  height: 1em;
  width: 2em;
  background: #000000;
  border-radius: 1em;
=======
div.thisWrapper{
  background:rgb(53, 53, 53);
  padding-top:1px;
  padding-bottom:1px;
}
p.pageTitle{
  font-size:32pt;
  font-weight:bold;
  text-align:center;
  margin-top:10pt;
  font-family: 'Ubuntu', sans-serif;
  color:white;
}
button.addButton{
  width:500px;
  height:45px;
  font-family: 'Ubuntu', sans-serif;
  background:rgb(92, 92, 255);
  color:white;
  font-size: 16pt;
  border-radius:5px;
  display:block;
  margin:auto;
}
button.addButton:hover{
  background:rgb(63, 63, 175);
  color:rgb(190, 190, 190);
}
div.products{
  text-align: center;
}
div.product{
  width:260px;
  /* border:1px solid red; */
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  background:rgb(87, 87, 87);
  border-radius:5px;
  padding:1px 0px;
  border:1px solid white;
  display:inline-block;
  margin-bottom:20px;
}
div.product img{
  max-width:210px;
  max-height:210px;
  display:block;
  margin:auto;
  margin-top:10px;
  border-radius:7px;
}
div.product p.productName{
  /* border:1px solid green; */
  color:white;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  height: 75px;
  margin-top:6px;
  margin-bottom:0px;
}
div.product div.buttons{
  display: block;
  text-align:center;
  margin-bottom:10px;
}
div.product div.buttons button{
  color:white;
  height:35px;
  width:55px;
  font-size:16pt;
  font-family: 'Ubuntu', sans-serif;
  margin-left:7px;
  margin-right:7px;
  margin-top:0px;
  border:none;
  border-radius:5px;
}
button.green{
  background:rgb(117, 211, 117)
>>>>>>> 5fe2d008c46992cd4c3c487c3ba02b28fc9b3709
}
button.green:hover{
  background:rgb(75, 134, 75)
}
button.red{
  background:rgb(216, 91, 91);
}
<<<<<<< HEAD

a.button{
  padding:10px;
  background:black;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 0.5s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid gray;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}

a.button:hover{
  background: #bba359;
  border-bottom:3px solid gold;
  color:#fff;
}

.checked {
  color: orange;
}
*/
=======
button.red:hover{
  background:rgb(172, 74, 74);
}
button.blue{
  background:rgb(110, 110, 223);
}
button.blue:hover{
  background:rgb(82, 82, 165);
}
button.hover{
  color:rgb(209, 209, 209);
}
>>>>>>> 5fe2d008c46992cd4c3c487c3ba02b28fc9b3709
