<div style="background-color: #ffffff;">
<div class="container" style="padding-top: 50px; background-color: #ffffff;">
        <div class="row">
            <div class="col"><img src="https://staticshop.o2.co.uk/product/images/iphone-x-space-grey-sku-header.png?cb=25dc5afb0412fc40a28aa29d82cb53d0"></div>
            <div class="col">
                <div class="row">
                    <div class="col" style="background-color: #f7f7f7;padding-top: 10px;">
                        <div class="row">
                            <div class="col">
                                <p style="color: rgba(198,160,12,0.9);">Merchant Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1>{{product['name']}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: rgba(33,37,41,0.5);">{{product['description']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col" style="background-color: #f7f7f7;margin-top: 10px;">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col">
                                <h3>${{product['price']}}</h3>
                            </div>
                            <div class="col">
                                <p>Total View: {{product['num_views']}} People</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col"></div>
                            <div class="col">
                                <p>Total Sold: {{product['num_sold']}} People</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: #f7f7f7;margin-top: 15px;padding-top: 15px;padding-bottom: 15px;">
                    <div class="col"><button class="btn btn-primary" type="button" style="width: 110px;background-color: rgba(170,142,10,0.75);" (click)="updateCountPlus()">+</button></div>
                    <div class="col-lg-1">
                        <p>{{count}}</p>
                    </div>
                    <div class="col"><button class="btn btn-primary" type="button" style="width: 110px;background-color: rgba(170,142,10,0.75);" (click)="updateCountMinus()">-</button></div>
                    <div class="col"><button class="btn btn-primary" type="button" style="background-color: rgba(170,142,10,0.75);">Add To Cart</button></div>
                </div>
            </div>
        </div>
</div>
</div>
