<div style="background-color: #ffffff;">
<link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" style="padding-top: 50px; background-color: #ffffff;">
        <div class="row">
               
            <div class="col" >
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <a href='#'><img class="d-block w-100" src="{{product['images'][0]}}" style="height: 480px; width: 450px;" style alt="First slide"></a>
                              </div>
            
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>

            </div>
           
            <div class="col">
                <div class="row">
                    <div class="col" style="background-color: #f7f7f7;padding-top: 10px;">
                        <div class="row">
                            <div class="col">
                                <p style="color: rgba(198,160,12,0.9);">Merchant Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1>{{product['name']}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: rgba(33,37,41,0.5);">{{product['description']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col" style="background-color: #f7f7f7;margin-top: 10px;">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col">
                                <h2>${{product['price']}}</h2>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                                <div class="col">
                                    <select [(ngModel)]="selectedColor" [ngModelOptions]="{standalone: true}"  >
                                        <option value="" selected disabled hidden>Choose color</option>
                                        <option *ngFor="let color of product['colors']" >{{color}}</option>
                                      </select>
                                      <div class="col"><small class="form-text text-danger" *ngIf=showErr_color style="color: rgb(114,29,119);">Choose Color</small></div>
                                </div>
                            <div class="col">
                                <select [(ngModel)]="selectedSize" [ngModelOptions]="{standalone: true}"  >
                                    <option value="" selected disabled hidden>Choose Size</option>
                                    <option *ngFor="let size of product['sizes']" >{{size}}</option>
                                  </select>
                                  <div class="col"><small class="form-text text-danger" *ngIf=showErr_size style="color: rgb(114,29,119);">Choose size</small></div>
                            </div>
                            <div class="col">
                                <p>Total Sold:{{product['num_sold']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: #f7f7f7;margin-top: 15px;padding-top: 15px;padding-bottom: 15px;">
                    <div class="col"><button class="btn btn-primary" type="button" style="width: 110px;background-color: rgba(170,142,10,0.75);" (click)="updateCountMinus()">-</button></div>
                    <div class="col-lg-1">
                        <p>{{count}}</p>
                    </div>
                    <div class="col"><button class="btn btn-primary" type="button" style="width: 110px;background-color: rgba(170,142,10,0.75);" (click)="updateCountPlus()">+</button></div>
                    <div class="col"><button class="btn btn-primary" type="button" style="background-color: rgba(170,142,10,0.75);" (click)="addToCart()">Add To Cart</button></div>
                </div>
                <div class="row" style="background-color: #f7f7f7; margin-top: 15px;padding-top: 15px;padding-bottom: 15px;">
                    <div id="rating" class="col">
                            <div class="col"><small class="form-text text-danger" *ngIf=show_ratingErr style="color: rgb(114,29,119);">Must give rating.</small></div>
                    <fieldset class="rating" >
                        <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="reviewRating" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="reviewRating"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" [(ngModel)]="reviewRating"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" [(ngModel)]="reviewRating"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="reviewRating"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    </fieldset>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="button"  style="background-color: rgba(170,142,10,0.75);" (click)="submitReview()" href="#">Leave a review!</button>
                    </div>
                    <div class="col" style="text-align: left;">
                            <textarea rows="4" cols="50" [(ngModel)]="reviewText" ></textarea>
                            <div class="col"><small class="form-text text-danger" *ngIf=show_revErr style="color: rgb(114,29,119);">Must be atleast 20 characters.</small></div>
                            <div class="col"><small class="form-text" *ngIf=show_reviewSuccess style="color: green;">Review Submitted.</small></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class='recommendedProducts'>
                        <p class='recHeader'>Recommended Products</p>
                        <div class='recProduct'>
                          <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
                          <a href='#'>24-Karat Diamond-Tipped Stapler</a>
                        </div>
                        <div class='recProduct'>
                            <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
                            <a href='#'>24-Karat Diamond-Tipped Stapler</a>
                        </div>
                        <div class='recProduct'>
                            <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
                            <a href='#'>24-Karat Diamond-Tipped Stapler</a>
                        </div>
                        <div class='recProduct'>
                            <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
                            <a href='#'>24-Karat Diamond-Tipped Stapler</a>
                        </div>
                        <div class='recProduct'>
                            <a href='#'><img src='https://images-na.ssl-images-amazon.com/images/I/7134d7zkJKL._SX425_.jpg' alt='Recommended Product'></a>
                            <a href='#'>24-Karat Diamond-Tipped Stapler</a>
                        </div>
        </div>   
     </div>

     <div class="container">
         <!-- make review a white bar all the way across, add the date created and make them line up -->
            <!-- <p >Reviews</p>
        <div  class="reviewWrapper" *ngFor="let review of reviews">
            
            <div class="row">
                <p style="color: #FFD700;">{{review['rating']}}/5</p>
                <p style="color: white;">{{review['createdAt'] | date}}</p>
                
            </div>  
            <div class="row">
                    <p style="color: white;">{{review['first_name']}}</p>
            </div>
            <div class="row">
                    <p style="color: white;">{{review['review']}}</p>
            </div>
                    
        </div> -->
        
    </div> 
    
    <!-- Featured Testimonials -->
<section class="container-fluid">
        <section class="row text-center">
          <h2 class="page-header" style="padding-left: 35%;">
                      Customer Reviews
            </h2>
        </section >
        <div *ngIf=show_noReviews>
        <section class="row" style="padding: 10px;background: rgb(53, 53, 53);" *ngFor="let review of reviews">
      
          <!-- Featured Testimonial -->
          
           <section class="panel panel-primary" style="padding: 5px;width:1110px;height: 107px; border-bottom: 2px solid lightgray;"> 
              <div class="panel-heading">
                <!-- Testimonial Rating -->
                <section class="review-rating text-left">
                  <form>
                    <fieldset class="rating">
                        <span style="color: #FFD700;">{{review['rating']}}/5</span>
                    </fieldset>
                  </form>
                </section>
      
                <!-- Testimonial Author -->
                <section class="review-author text-center" >
                  <span style="color: #f7f7f7;padding-left: 14%;" >User: {{review['first_name']}}&nbsp;{{review['last_name']}}</span>
                  <span style="color: #f7f7f7" *ngIf="!review['first_name']">Anon</span>
                  <em class="review-date" style="color: #f7f7f7">{{review['createdAt'] | date}}</em>
                </section>

               
              </div>
              <div class="panel-body text-center">
                <p style="color: #f7f7f7">{{review['review']}}</p>
              </div>
              
            </section>
         
        </section>
    </div>
    <div *ngIf=!show_noReviews>
            <section class="row" style="padding: 10px;background: rgb(53, 53, 53);">
      
                    <!-- Featured Testimonial -->
                    
                     <section class="panel panel-primary" style="padding: 5px;width:1110px;height: 107px; border-bottom: 2px solid lightgray;"> 
                        <div class="panel-heading">
                          <!-- Testimonial Rating -->
                          <section class="review-rating text-left">
                            <form>
                              <fieldset class="rating">
                                  <span style="color: #FFD700;">5/5</span>
                              </fieldset>
                            </form>
                          </section>
                
                          <!-- Testimonial Author -->
                          <section class="review-author text-center" >
                            <span style="color: #f7f7f7;padding-left: 14%;" >User: {{first_name}}</span>
                            
                            <em class="review-date" style="color: #f7f7f7">Dec 25, 2018</em>
                          </section>
          
                         
                        </div>
                        <div class="panel-body text-center">
                          <p style="color: #f7f7f7">Be the first to leave a review!</p>
                        </div>
                        
                      </section>
                   
                  </section>
          </div>
    </section>

</div>
