<section>
  <div class="features-boxed" style="background-color: #ffffff;">
        <div class="container">
          <div class="row">
              <div class="col">
                  <h1 style="padding-top: 0px;margin-top: 25px;color: #313437;">Admin name Portal</h1>
              </div>
          </div>
            <div class="row justify-content-center features" style="padding-bottom: 5px;padding-top: 25px;">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/bar-chart.png" style="margin-bottom: 15px">
                        <h3 class="name">Manage Site Stats</h3>
                        <p class="description" style="color: rgb(64,64,64);">Track how your site is doing and make important decisions!</p><a href="#" class="learn-more" style="color: #404040;">Track Site »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/edit.png" style="margin-bottom: 15px">
                        <h3 class="name">Manage Merchants</h3>
                        <p class="description" style="color: rgb(64,64,64);">Manage and add more merchants to the Congo family!</p><a href="#" class="learn-more" style="color: #404040;">Manage Merchants »</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
