<section style="background-color: #ffffff;">


  <div class="container">
          <div class="row" style="padding-top: 25px;">
              <div class="col">
                  <h1 style="margin-bottom: 20px;">Orders&nbsp;</h1>
              </div>
              <div class="col"><button class="btn btn-secondary" type="button" style="margin-left: 86px;background-color: rgba(198,160,12,0.9);margin-top: 10px;margin-bottom: 0px;" [routerLink]="['/merchant/portal']" >Back to Merhcant Portal</button><button class="btn btn-secondary" type="button" style="margin-left: 15px;background-color: rgba(198,160,12,0.9);margin-top: 10px;">Save Changes</button></div>
          </div>
          <div class="table-responsive" style="padding-bottom: 100px;">
              <table class="table">
                  <thead>
                      <tr>
                          <th style="font-size: 12px;">Product ID</th>
                          <th style="font-size: 12px;">Product Name</th>
                          <th style="font-size: 12px;">Size</th>
                          <th style="font-size: 12px;">Color</th>
                          <th style="font-size: 12px;">Quantity</th>
                          <th style="font-size: 12px;">Name</th>
                          <th style="font-size: 12px;">Street Name</th>
                          <th style="font-size: 12px;">City</th>
                          <th style="font-size: 12px;">State</th>
                          <th style="font-size: 12px;">Zip Code</th>
                          <th style="font-size: 12px;">Shipped?</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;"><input type="checkbox" style="margin-left: 20px;"></td>
                      </tr>
                      <tr>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;"><input type="checkbox" style="margin-left: 20px;"></td>
                      </tr>
                      <tr>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;"><input type="checkbox" style="margin-left: 20px;"></td>
                      </tr>
                      <tr>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;">Cell 1</td>
                          <td style="font-size: 14px;"><input type="checkbox" style="margin-left: 20px;"></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </section>
