input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p.description{
      font-size:16pt;
      text-align: center;
}

div.row{

}
div.container{
       background:rgb(53, 53, 53);
       color:white;
}
div.card-body{
       background:rgb(165, 165, 165);
}

div.mainBox{
    background:rgb(165, 165, 165);
    border-radius:5px;
    width:450px;
    display:block;
    margin:auto;
    padding:15px;
    margin-top:30px;
}
button.mySubmit{
    display:block;
    background:rgb(92, 92, 255);
    width:300px;
    margin:auto;
    color:white;
    height:45px;
    border-radius:7px;
    margin-top:20px;
    font-size:15pt;
}
