<section style="background-color: #ffffff;">

  <div class="container">
        <h1 style="padding-top: 20px;" align="center">Buy a Congo Gift Card!</h1>
        <div class="row">
             <div class='mainBox'>
             <p class='description'>Buy a gift card for yourself, employees, friends, or family! You'll be given a confirmation code on purchase that can be redeemed on Congo. </p>
                  <div class="col-lg-12 offset-lg-0">
                        <div class="row .payment-dialog-row" style="margin-bottom: 10px;">
                              <div class="col-12 col-md-4 col-lg-12 offset-md-4 offset-lg-0" style="margin-bottom: 0px;">
                                    <div class="card credit-card-box">
                                         <div class="card-body">
                                               <form id="payment-form">
                                                    <div class="form-row">
                                                         <div class="col-12">
                                                               <div class="form-group"><label for="cardNumber">Card number </label>
                                                                     <div class="input-group"><input [ngModelOptions]="{standalone: true}" [(ngModel)]='cc_number' class="form-control" type="number" required="" placeholder="Valid Card Number" id="cardNumber">

                                                                           <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>

                                                                     </div>
                                                               </div>
                                                               <div class="row" *ngIf='showErr_ccNumber'>
                                                                     <p class="red">Enter credit card number.</p>
                                                               </div>
                                                         </div>
                                                   </div>
                                                   <div class="form-row">
                                                         <div class="col-7">
                                                               <div >
                                                                     <div class="form-group"><label for="cardExpiry"><span>&nbsp;</span><span>Exp&nbsp;</span>&nbsp;Month</label><input class="form-control" type="number" required="" [ngModelOptions]="{standalone: true}" [(ngModel)]='selectedCCDate' placeholder="MM" id="cardExpiry"><small *ngIf=showErr_date class="form-text text-danger">Enter Valid Month</small></div>
                                                               </div>
                                                               <div >
                                                                     <div class="form-group"><label for="cardExpiry"><span>&nbsp;</span><span>Exp&nbsp;</span>&nbsp;Year</label><input class="form-control" type="number" required="" [ngModelOptions]="{standalone: true}" [(ngModel)]='selectedCCYear' placeholder="YY" id="cardExpiry"><small *ngIf=showErr_year class="form-text text-danger">Enter Valid Year</small></div>
                                                               </div>
                                                               <div class="row" *ngIf='showErr_exprDate'>
                                                                     <p class="red">Enter expiration date.</p>
                                                               </div>
                                                         </div>

                                                         <div class="col-5 pull-right">
                                                               <div class="form-group"><label for="cardCVC">CV Code</label><input [ngModelOptions]="{standalone: true}" [(ngModel)]= 'cvv_code' class="form-control" type="number" required="" placeholder="CVC" id="cardCVC"></div>
                                                               <div class="row" *ngIf='showErr_cvvCode'>
                                                                     <p class="red">Enter cvv number.</p>
                                                               </div>
                                                         </div>
                                                   </div>
                                                   <div class="form-row">
                                                         <div class="col-12">
                                                               <div class="form-group"><label for="cardNumber">Gift Card Amount: &nbsp;&nbsp;</label>
                                                       <select [(ngModel)]='newProduct.category' [ngModelOptions]="{standalone: true}">
                                                         <option value="" selected disabled hidden>Choose Value</option>
                                                         <option value="10">$10</option>
                                                         <option value="50">$50</option>
                                                         <option value="100">$100</option>
                                                         <option value="200">$200</option>
                                                         <option value="500">$500</option>
                                                       </select>
                                                               </div>
                                                         </div>
                                                   </div>
                                    </form>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
</div>
</div>
</section>
