<section>
<div class="features-boxed" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row justify-content-center features" style="padding-bottom: 5px;">
                <div class="col-sm-6 col-md-5 col-lg-5 item">
                    <div class="box" style="background-color: rgb(170,142,10);">

                        <h3 class="name">See How Your Products Are Doing</h3>
                        <p class="description" style="color: rgb(235,238,239);">Track how your products are doing, using our data analytics platform that gives fast and easy to read data!</p><a href="#" class="learn-more" style="color: #262626;">Track Products »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-5 item">
                    <div class="box" style="background-color: rgb(170,142,10);">
                        <h3 class="name">Edit or Delete Your Products</h3>
                        <p class="description" style="color: rgb(235,238,239);">Manage and add more products to make more Congo users to view and buy your product!</p><a href="#" class="learn-more" style="color: #262626;">Manage Products »</a></div>
                </div>
            </div>
            <div class="row justify-content-center features" style="padding-top: 10px;">
                <div class="col-sm-6 col-md-5 col-lg-5 item">
                    <div class="box" style="background-color: rgb(170,142,10);">
                        <h3 class="name">Manage Your Profile</h3>
                        <p class="description" style="color: rgb(235,238,239);">Edit your profile and keep your information update so that you can still sell your products at the Congo!</p><a href="#" class="learn-more" style="color: rgb(38,38,38);">Account Settings »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-5 item">
                    <div class="box" style="background-color: rgb(170,142,10);">
                        <h3 class="name">Advertise Products On Congo</h3>
                        <p class="description" style="color: rgb(235,238,239);">Have your products on the homepage for everyone around the world to view with just a click of a button!</p><a href="#" class="learn-more" style="color: #262626;">Advertise Products »</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
