<section>
  <div class="features-boxed" style="background-color: #ffffff;">
          <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style="padding-top: 0px;margin-top: 25px;color: #313437;">Merchant Portal</h1>
                </div>
                <div class="col"><button (click)="merchantLogout()" class="btn btn-secondary" type="button" style="margin-top: 35px;margin-left: 450px;background-color: rgba(198,160,12,0.89);width: 95px;">Logout</button></div>
            </div>
              <div class="row justify-content-center features" style="padding-bottom: 5px;padding-top: 25px;">
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/bar-chart.png" style="margin-bottom: 15px">
                          <h3 class="name">Manage Product Stats</h3>
                          <p class="description" style="color: rgb(64,64,64);">Track how your products are doing, using our data analytics platform!</p><a href="#" class="learn-more" style="color: #404040;">Track Products »</a></div>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/edit.png" style="margin-bottom: 15px">
                          <h3 class="name">Manage Your Products</h3>
                          <p class="description" style="color: rgb(64,64,64);">Manage and add more products to make more Congo users to buy your product!</p><a href="#" class="learn-more" style="color: #404040;">Manage Products »</a></div>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/box.png" style="margin-bottom: 15px">
                          <h3 class="name">Manage Your Orders</h3>
                          <p class="description" style="color: rgb(64,64,64);">Track all your orders and see if they are being completed on time!</p><a href="#" class="learn-more" style="color: #404040;">Manage Orders »</a></div>
                  </div>
              </div>
              <div class="row justify-content-center features" style="padding-top: 10px;">
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/user.png" style="margin-bottom: 15px">
                          <h3 class="name">Manage Your Profile</h3>
                          <p class="description" style="color: rgb(64,64,64);">Keep your information update to date so you can sell your products!</p><a href="#" class="learn-more" style="color: rgb(64,64,64);">Account Settings »</a></div>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/user.png" style="margin-bottom: 15px">
                          <h3 class="name">Advertise Products</h3>
                          <p class="description" style="color: rgb(64,64,64);">Have your products on the homepage for everyone around the world!</p><a href="#" class="learn-more" style="color: #404040;">Advertise Products »</a></div>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: rgba(198,160,12,0.5);"><img class="img-fluid panel-title-image" src="assets/img/conversation.png" style="margin-bottom: 15px">
                          <h3 class="name">Help Desk&nbsp;</h3>
                          <p class="description" style="color: rgb(64,64,64);">If you're having trouble with anything. Feel free to contact us and we can assist you!</p><a href="#" class="learn-more" style="color: #404040;">Contact Us »</a></div>
                  </div>
              </div>
          </div>
      </div>
</section>
