<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<section>
  <div class="login-clean" style="background-color: #ffffff;">
        <h3 style="color: green;text-align:center;" *ngIf=registration_complete>Registration Success</h3>
        <form method="post" style="padding-bottom: 25px;padding-top: 25px;background-color: #eeeeee;">
            <p style="color:red;font-size:12pt;"  *ngIf=showErr >{{errMessage}}</p>
            <div class="illustration"><img class="img-fluid panel-title-image" src="assets/img/Congo%20Logo.png"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email or Username" [ngModelOptions]="{standalone: true}" [(ngModel)]='email'></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" [ngModelOptions]="{standalone: true}" [(ngModel)]='password'></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgba(198,160,12,0.89);" (click)="loginButton()">Log In</button></div><a href="#" class="forgot" style="margin-bottom: 12px;color: rgba(198,160,12,0.89);"><span style="text-decoration: underline;">Forgot your email or password?</span></a>
            <a
                href="#" class="forgot" style="margin-top: 0px;color: rgba(198,160,12,0.89);"><span style="text-decoration: underline;">Not a Congo member?</span></a>
        </form>
    </div>
</section>
