<section>
    <div class="features" style="background-color: #ffffff;">
          <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style="padding-top: 25px;margin-top: 25px;color: #313437;">Help Desk</h1>
                    <button class="btn btn-secondary" type="button" style="margin-left: 0px;background-color: rgba(198,160,12,0.9);margin-top: 15px;padding-bottom: 5px;" [routerLink]="['/merchant/portal']">Back to Merchant Portal</button>
                </div>
            </div>
            <div class="col justify-content-center features" style="padding-bottom: 25px;padding-top: 25px;">
                <h1 style="padding-top: 0px;margin-top: 0px;color: #313437;">For business inquiries or general questions, please contact us through either of the following options:</h1>
            </div>
            <div class="col justify-content-center features" style="padding-bottom: 10px;padding-top: 0px;">
                <h1 style="padding-top: 0px;margin-top: 0px;color: #313437;">Phone: (765) 234-5678</h1>
            </div>
            <div class="col justify-content-center features" style="padding-bottom: 200px;padding-top: 0px;">
                <h1 style="padding-top: 0px;margin-top: 0px;padding-left: 82px;color: #313437;">Email: congo307@gmail.com</h1>
            </div>
          </div>
    </div>
</section>
