<section>
  <div class="login-dark" style="background-color: rgba(8, 8, 8, 0.96);height: 600px;">
          <form method="post" style="height: 500px;padding-top: 0px;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img class="img-fluid panel-title-image" src="assets/img/Congo%20Logo.png"></div>
            <small class="form-text text-center text-danger" style="margin-bottom: 10px;" *ngIf=errShowErr >{{errMessage}}</small>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control pin-num" type="password" name="pin" placeholder="PIN"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgba(198,160,12,0.75);" (click)=adminButton()>Register</button></div><a href="#" class="forgot"></a>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgba(198,160,12,0.75);" (click)=loginButton()>Log In</button></div><a href="#" class="forgot"></a></form>
  </div>
</section>
