<section style="background-color: #ffffff;">
<div class="container" >
       <div class="row">
           <div class="col">
               <h1 style="margin-top:10px;" >Purchase History</h1>
               <div class="row">
                   <div class="col">
                       <div style="margin-top: 20px;">
                           <ul class="nav nav-tabs">
                               <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-3" style="color: #c6a00c;">Orders</a></li>
                           </ul>
                           <div class="tab-content">
                               <div class="tab-pane active" role="tabpanel" id="tab-3">
                                   <div *ngFor="let order of orders">
                                        <div class="box" style="background-color: rgba(198,160,12,0.25);margin-top: 10px;">
                                            <div class="row" style="padding-top: 5px;">
                                                <div class="col" style="margin-left: 10px;">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p style="font-size: 12px;margin-bottom: 5px;">Ordered Place</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <p style="font-size: 13px;">{{order['createdAt'] | date}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col">
                                                    <div class="row">
                                                        <p style="font-size: 12px;margin-bottom: 5px;">Total</p>
                                                    </div>
                                                    <div class="row">
                                                        <p style="font-size: 13px;">${{order['total']}}</p>
                                                    </div>
                                                </div> -->
                                                <div class="col">
                                                    <div class="row">
                                                        <p style="font-size: 12px;margin-bottom: 5px;">Ship To</p>
                                                    </div>
                                                    <div class="row">
                                                        <p style="font-size: 13px;">{{order['city']}}</p>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <p style="font-size: 12px;margin-bottom: 5px;">Order #</p>
                                                    </div>
                                                    <div class="row">
                                                        <p style="font-size: 13px;">{{order['tempID']}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col" style="padding-left: 35px;">
                                                    <div class="row">
                                                        <div class="col" style="padding-left: 1px;">
                                                            <h5>Number of Items:&nbsp;{{order['items']}}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3"><img></div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5>Total:&nbsp;${{order['total']}}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p style="font-size: 12px;">Shipping Address:&nbsp;{{order['street_address']}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="row">
                                                        <div class="col" style="padding-left: 0px;"><button class="btn btn-secondary btn-sm" type="button" style="width: 124px;margin-bottom: 5px;margin-top: 45px;background-color: rgba(198,160,12,0.8);" [routerLink]="['/user-order-history',order['_id']]">View Order</button></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col" style="padding-left: 0px;"><button class="btn btn-secondary btn-sm" type="button" style="width: 124px;margin-bottom: 5px;background-color: rgba(198,160,12,0.8);">Cancel Order</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-4">
                       <h3 style="margin-top: 30px;margin-bottom: 15px;">Buy Again</h3>
                       <div class="box" style="background-color: rgba(198,160,12,0.25);">
                           <div class="row">
                               <div class="col-lg-4"><img style="margin-top: 15px;margin-right: 0px;margin-bottom: 10px;margin-left: 10px;height: 80px;"></div>
                               <div class="col">
                                   <div class="row">
                                       <div class="col">
                                           <p class="description" style="color: rgb(64,64,64);margin-top: 10px;font-size: 14px;margin-bottom: 5px;">Product Name #1</p>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col"><button class="btn btn-secondary btn-sm" type="button" style="background-color: rgba(198,160,12,0.5);margin-bottom: 10px;font-size: 10px;">Add to Cart</button></div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="box" style="background-color: rgba(198,160,12,0.25);margin-top: 10px;">
                           <div class="row">
                               <div class="col-lg-4"><img style="margin-top: 15px;margin-right: 0px;margin-bottom: 10px;margin-left: 10px;height: 80px;"></div>
                               <div class="col">
                                   <div class="row">
                                       <div class="col">
                                           <p class="description" style="color: rgb(64,64,64);margin-top: 10px;font-size: 14px;margin-bottom: 5px;">Product Name #2</p>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col"><button class="btn btn-secondary btn-sm" type="button" style="background-color: rgba(198,160,12,0.5);margin-bottom: 10px;font-size: 10px;">Add to Cart</button></div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="box" style="background-color: rgba(198,160,12,0.25);margin-top: 10px;">
                           <div class="row">
                               <div class="col-lg-4"><img style="margin-top: 15px;margin-right: 0px;margin-bottom: 10px;margin-left: 10px;height: 80px;"></div>
                               <div class="col">
                                   <div class="row">
                                       <div class="col">
                                           <p class="description" style="color: rgb(64,64,64);margin-top: 10px;font-size: 14px;margin-bottom: 5px;">Product Name #3</p>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col"><button class="btn btn-secondary btn-sm" type="button" style="background-color: rgba(198,160,12,0.5);margin-bottom: 10px;font-size: 10px;">Add to Cart</button></div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>
