<section  style="background-color: #ffffff;">
  <div class="features-boxed" style="background-color: #fffefe;">
          <div class="container" style="background-color: #ffffff;">
              <div class="intro">
                  <h2 class="text-center">GIFT CARD SUCCESSFUL!</h2>
              </div>
              <div class="row justify-content-center features">
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: #f1f0f0;">
                          <h3 class="name">Order has been confirmed</h3>
                          <p class="description">Thank you for buying a gift card! It has been
                                automatically added to your account.</p>

                          <!--<p class="description">Thanks for buying a gift card!&nbsp;</p>-->
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-5 col-lg-4 item">
                      <div class="box box2" style="background-color: rgb(241,240,240);">
                          <h3 class="text-center name">Gift Card Value:</h3>
                          <p class="text-middle">${{giftCardValue}}</p>
                          <p class="giftCardNumber">Gift Card Number:   {{giftCardNumber}}</p>
                              <!--<div class="col" style="height: 25px;">
                                  <p class="text-middle">${{giftCardValue}}</p>
                              </div>-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
