<section style="background-color: #ffffff;">
<div class="contact-clean" style="background-color: #ffffff;">
      <form style="background-color: #eeeeee;">
          <h2 class="text-center">Create An Account!</h2>
          <small class="form-text text-danger" style="margin-bottom: 20px;" *ngIf=showErr>{{errMessage}}</small>
          <div class="form-group">
            <input class="form-control form-control-sm " type="email" name="email" placeholder="First Name" [(ngModel)]='first_name'[ngModelOptions]="{standalone: true}">
            <small class="form-text text-danger" *ngIf=showErr_firstname>Please enter a valid first name.</small>
          </div>
          <div class="form-group">
            <input class="form-control form-control-sm " type="email" name="email" placeholder="Last Name" [(ngModel)]='last_name' [ngModelOptions]="{standalone: true}">
            <small class="form-text text-danger" *ngIf=showErr_lastname>Please enter a valid last name.</small>
          </div>
          <div class="form-group">
            <input class="form-control form-control-sm " type="email" name="email" placeholder="Email" [(ngModel)]='email' [ngModelOptions]="{standalone: true}">
            <small class="form-text text-danger"*ngIf=showErr_email >{{errMessage_email}}</small>
          </div>
          <div class="form-group">
            <input class="form-control form-control-sm" type="tel" placeholder="Phone Number" [(ngModel)]='phone_num' [ngModelOptions]="{standalone: true}">
            <small class="form-text text-danger" *ngIf=showErr_phoneNum >Please enter a valid phone number.</small>
          </div>
          <div class="form-group">
            <input class="form-control form-control-sm" type="password" placeholder="Password" [(ngModel)]='password' [ngModelOptions]="{standalone: true}">
            <small class="form-text text-danger" *ngIf=showErr_password >  {{password_err}} </small>
          </div>
          <div class="form-group">
            <input class="form-control form-control-sm" type="password" placeholder="Confirm Password" [(ngModel)]='password_validated' [ngModelOptions]="{standalone: true}">
            <small class="form-text text-danger" *ngIf=showErr_confirm>Password doesn't match.</small>
          </div>
          <div class="form-group">
            <button class="btn btn-secondary" type="submit" style="background-color: rgba(198,160,12,0.9);margin-left: 120px;" (click)="submitButton()">Register</button>
          </div>
      </form>
  </div>
</section>
