<!-- <section style="background-color: #ffffff;">
  <div class="row register-form">
        <div class="col-md-8 offset-md-2">
            <form class="custom-form" style="background-color: rgb(238,238,238);">
                <h1>SIGN UP!</h1><br>
                <h1 style="color:red;"  *ngIf=showErr >{{errMessage}}</h1>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">First Name </label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" required [ngModelOptions]="{standalone: true}" [(ngModel)]='first_name'></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Last Name </label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" required  [ngModelOptions]="{standalone: true}" [(ngModel)]='last_name'></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email </label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="email" required  [ngModelOptions]="{standalone: true}" [(ngModel)]='email'></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Phone Number </label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="phone" required  [ngModelOptions]="{standalone: true}" [(ngModel)]='phone_num'></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Password </label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="password" required  [ngModelOptions]="{standalone: true}" [(ngModel)]='password'></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Repeat Password </label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="password" required   [ngModelOptions]="{standalone: true}" [(ngModel)]='password_validated'></div>
                </div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">I've read and accept the terms and conditions</label></div>
                <button class="btn btn-light submit-button" type="submit" style="background-color: rgba(198,160,12,0.89);" (click)="submitButton()" >Submit Form</button>
              </form>
        </div>
    </div>
</section> -->
<form class='register' action='/login/processRegister/' method='post'>
    <p class='big'>Registration</p>
    <p class='red'>{{message}}</p>
    <div class='single'>
        <p>First Name:</p>
        <input type='text' name='first_name' placeholder='first name' value='{{first_name}}'>
    </div>
    <!-- {% for message in last_name_errors %} -->
        <p class='red'>{{message}}</p>
    <!-- {% endfor %} -->
    <div class='single'>
        <p>Last Name:</p>
        <input type='text' name='last_name' placeholder='last name' value='{{last_name}}'>
    </div>
    <!-- {% for message in reg_email_errors %} -->
        <p class='red'>{{message}}</p>
    <!-- {% endfor %} -->
    <div class='single'>
        <p>Email:</p>
        <input type='text' name='email' placeholder='email' value='{{email}}'>
    </div>
    <!-- {% for message in password_errors %} -->
        <p class='red'>{{message}}</p>
    <!-- {% endfor %} -->
    <div class='single'>
        <p>Password:</p>
        <input type='password' name='password' placeholder='password'>
    </div>
    <!-- {% for message in confirm_errors %} -->
        <p class='red'>{{message}}</p>
    <!-- {% endfor %} -->
    <div class='single'>
        <p>Confirm PW:</p>
        <input type='password' name='confirm' placeholder='confirm'>
    </div>
    
    <input class='register login' type='submit' value='Register'>
</form>
