form{
  /* margin-top:30px; */
  margin:auto;
  margin-top:10px;
  display:block;
  border:1px solid black;
  width:fit-content;
  text-align:left;
  /* background:rgb(79,91,106); */
  background: rgb(255, 233, 111);
  margin-bottom:30px;
  padding:15px 30px 15px 30px;
  border-radius:8px;
  /* border:2px solid rgb(235,235,235); */
  border:2px solid rgb(180,180,180)
}
form p{
  /* width:fit-content; */
  font-size:13pt;
}
form input{
  font-size:13pt;
  width:250px;
  padding:3px 5px;
  border-radius:5px;
  margin-bottom:15px;
  /* border:none; */
}
form p.big{
  font-size:24pt;
  font-weight:bold;
  text-align:center;
}
form p.small{
  font-size:12pt;
}
form input.login{
  background:none;
  border:1px solid black;
  border-radius:5px;
  padding-top:5px;
  padding-bottom:5px;
}
form input.login:hover{
  background:white;
  font-weight:bold;
}
div.single_input>*{
  display:inline-block;
  width:fit-content;
}
div.single_input p{
  margin-left:15px;
}
form p.red{
  font-size:12pt;
  color:red;
  font-style:italic;
  margin-top:0px;
}
input.login{
  display:block;
}
input.register{
  margin-top:30px;
}
form select{
  font-size:14pt;
  margin-left:20px;
  font-weight:normal;
}
form p{
  font-weight:bold;
}
form.login{
  margin-top:30px;
}
form.login p.green{
  text-align:center;
  color:rgb(0, 172, 0);
  font-style:italic;
  margin:0px;
  font-size:14pt;
}
@media only screen and (min-width:600px){
  div.single *{
      display:inline-block;
      width:fit-content;
  }
  div.single input{
      float:right;
      margin:0px;
      margin-bottom:10px;
      width:230px;
  }
  div.single p{
      margin-top:5px;
      margin-bottom:20px;
  }
  form.register{
      width:430px;
  }
  select{
      float:right;
  }
  input.register{
      margin:auto;
      margin-top:30px;
  }
}

/* .register-form form.custom-form {
    padding: 55px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
    margin: 50px;
    color: #333;
  }
  
  @media (max-width:400px) {
    .register-form form.custom-form {
      padding: 55px 10px;
    }
  }
  
  .register-form .custom-form h1 {
    display: inline-block;
    color: #4c565e;
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px 15px;
    margin-bottom: 60px;
    border-bottom: 2px solid rgba(198,160,12,0.89);
  }
  
  .register-form .custom-form .form-group {
    margin-bottom: 25px;
  }
  
  .register-form .custom-form .label-column {
    text-align: right;
    color: #5F5F5F;
  }
  
  @media (max-width:768px) {
    .register-form .custom-form .label-column {
      text-align: left;
    }
  }
  
  .register-form .custom-form .input-column {
    color: #5f5f5f;
    text-align: left;
  }
  
  .register-form .custom-form .input-column input {
    color: #5f5f5f;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    height: 42px;
  }
  
  .register-form .custom-form .dropdown .dropdown-toggle {
    background: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #333;
    outline: none;
  }
  
  .register-form .custom-form .dropdown ul {
    background: #fff;
  }
  
  .register-form .custom-form .dropdown ul li a {
    background: #fff;
    color: #333;
    opacity: 0.8;
  }
  
  .register-form .custom-form .dropdown ul li a:hover {
    opacity: 1;
  }
  
  .register-form .custom-form .submit-button {
    border-radius: 2px;
    background: #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 30px;
    outline: none;
  } */
