<section style="background-color: rgb(244,244,244);">
  <div class="container">
          <div class="row">
              <div class="col-lg-7 offset-lg-0">
                  <div class="row .payment-dialog-row" style="margin-left: -15px;margin-bottom: 25px;">
                      <div class="col-12 col-md-4 col-lg-12 offset-md-4 offset-lg-0" style="margin-top: 25px;">
                          <div class="card credit-card-box box">
                              <div class="card-header">
                                  <h6 class="mb-0"><span class="panel-title-text">Shipping Address</span></h6>
                              </div>
                              <div class="card-body">
                                  <form id="payment-form">
                                      <div class="form-row">
                                          <div class="col-12">
                                              <div class="form-group"><label for="cardNumber">Full Name:</label>
                                                  <div class="input-group"><input class="form-control form-control-sm" type="text">
                                                      <div class="input-group-append"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-12">
                                              <div class="form-group"><label for="cardNumber">Address Line #1</label>
                                                  <div class="input-group"><input class="form-control form-control-sm" type="text" placeholder="Street Name and Number">
                                                      <div class="input-group-append"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-12">
                                              <div class="form-group"><label for="cardNumber">Address Line #2</label>
                                                  <div class="input-group"><input class="form-control form-control-sm" type="text" placeholder="Apartment, Suite, Unit  etc.">
                                                      <div class="input-group-append"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-7">
                                              <div class="form-group"><label for="cardExpiry">City</label><input class="form-control" type="text"></div>
                                          </div>
                                          <div class="col-5 pull-right">
                                              <div class="form-group"><label for="cardCVC">State</label><input class="form-control" type="text"></div>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row .payment-dialog-row" style="margin-bottom: 10px;">
                      <div class="col-12 col-md-4 col-lg-12 offset-md-4 offset-lg-0" style="margin-bottom: 0px;">
                          <div class="card credit-card-box box">
                              <div class="card-header">
                                  <h6 class="mb-0"><span class="panel-title-text">Payment Details </span><img class="img-fluid panel-title-image" src="accepted_cards.png"></h6>
                              </div>
                              <div class="card-body">
                                  <form id="payment-form">
                                      <div class="form-row">
                                          <div class="col-12">
                                              <div class="form-group"><label for="cardNumber">Card number </label>
                                                  <div class="input-group"><input class="form-control" type="tel" required="" placeholder="Valid Card Number" id="cardNumber">
                                                      <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-7">
                                              <div class="form-group"><label for="cardExpiry"><span>EXP </span>Date</label><input class="form-control" type="tel" required="" placeholder="MM / YY" id="cardExpiry"></div>
                                          </div>
                                          <div class="col-5 pull-right">
                                              <div class="form-group"><label for="cardCVC">CV Code</label><input class="form-control" type="tel" required="" placeholder="CVC" id="cardCVC"></div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-12">
                                              <div class="form-group"><label for="cardNumber">Email:</label>
                                                  <div class="input-group"><input class="form-control form-control-sm" type="text">
                                                      <div class="input-group-append"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-12">
                                              <div class="form-group"><label for="cardNumber">Phone Number:</label>
                                                  <div class="input-group">
                                                      <div class="input-group-append"></div><input class="form-control" type="tel"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col box" style="background-color: #ffffff;margin-top: 25px;margin-bottom: 10px;">
                  <div class="row" style="margin-top: 50px;">
                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <h3>Order Summary</h3>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p>Items (n):</p>
                              </div>
                              <div class="col">
                                  <p class="text-right">$100.99</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p>Shipping &amp; Handling:</p>
                              </div>
                              <div class="col">
                                  <p class="text-right">$5.99</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p>Tax:</p>
                              </div>
                              <div class="col">
                                  <p class="text-right">$7.99</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p style="color: #d81e05;">TOTAL:</p>
                              </div>
                              <div class="col">
                                  <p class="text-right" style="color: #d81e05;">$100.99</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 50px;">
                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <h3>Shipping</h3>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p>Estimated Shipping:</p>
                              </div>
                              <div class="col">
                                  <p class="text-right">September 20, 2018</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 50px;margin-bottom: 5px;">
                      <div class="col"><button class="btn btn-primary active btn-lg" type="button" style="width: 198px;background-color: #aa8e0a;margin-left: 85px;">Place Order</button></div>
                  </div>
              </div>
          </div>
      </div>
</section>
