<button (click)="updateSoldCount()">SoldCount</button>
<section style="background-color: #ffffff;">
  <div class="container">
        <h1 style="padding-top: 15px;">Complete Checkout</h1>
        <div class="row">
            <div class="col-lg-7 offset-lg-0">
                <div class="row .payment-dialog-row" style="margin-left: -15px;margin-bottom: 25px;">
                    <div class="col-12 col-md-4 col-lg-12 offset-md-4 offset-lg-0" style="margin-top: 25px;">
                        <div class="card credit-card-box">
                            <div class="card-header">
                                <h6 class="mb-0"><span class="panel-title-text">Shipping Address</span></h6>
                            </div>
                            <div class="card-body">
                                <form id="payment-form">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group"><label for="cardNumber">Full Name:</label>
                                                <div class="input-group"><input [ngModelOptions]="{standalone: true}" [(ngModel)]="full_name" class="form-control form-control-sm" type="text">

                                                    <div class="input-group-append"></div>

                                                </div>
                                                <div class="row" *ngIf='showErr_fullname'>
                                                        <p class="red">Enter valid name.</p>
                                                       </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group"><label for="cardNumber">Address Line #1</label>
                                                <div class="input-group"><input [ngModelOptions]="{standalone: true}" [(ngModel)]='address_lineone' class="form-control form-control-sm" type="text" placeholder="Street Name and Number">
                                                    <div class="input-group-append"></div>
                                                </div>
                                                <div class="row" *ngIf='showErr_addr1'>
                                                        <p class="red">Enter address line.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-7">
                                            <div class="form-group"><label for="cardExpiry">City</label><input [ngModelOptions]="{standalone: true}" [(ngModel)]='city' class="form-control" type="text"></div>
                                            <div class="row" *ngIf='showErr_city'>
                                                    <p class="red">Enter valid city.</p>
                                            </div>
                                        </div>

                                        <div class="col-5 pull-right">
                                            <div class="form-group"><label for="cardCVC">State</label><input [ngModelOptions]="{standalone: true}" [(ngModel)]='state' class="form-control" type="text"></div>
                                            <div class="row" *ngIf='showErr_state'>
                                                    <p class="red">Enter valid state.</p>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row .payment-dialog-row" style="margin-bottom: 10px;">
                    <div class="col-12 col-md-4 col-lg-12 offset-md-4 offset-lg-0" style="margin-bottom: 0px;">
                        <div class="card credit-card-box">
                            <div class="card-header">
                                <h6 class="mb-0"><span class="panel-title-text">Payment Details </span><img class="img-fluid panel-title-image" src="assets/img/accepted_cards.png"></h6>
                            </div>
                            <div class="card-body">
                                <form id="payment-form">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group"><label for="cardNumber">Card number </label>
                                                <div class="input-group"><input [ngModelOptions]="{standalone: true}" [(ngModel)]='cc_number' class="form-control" type="number" required="" placeholder="Valid Card Number" id="cardNumber">

                                                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>

                                                </div>
                                            </div>
                                            <div class="row" *ngIf='showErr_ccNumber'>
                                                    <p class="red">Enter credit card number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-7">
                                            <div >
                                                <div class="form-group"><label for="cardExpiry"><span>&nbsp;</span><span>Exp&nbsp;</span>&nbsp;Month</label><input class="form-control" type="number" required="" [ngModelOptions]="{standalone: true}" [(ngModel)]='selectedCCDate' placeholder="MM" id="cardExpiry"><small *ngIf=showErr_date class="form-text text-danger">Enter Valid Month</small></div>
                                            </div>
                                            <div >
                                                <div class="form-group"><label for="cardExpiry"><span>&nbsp;</span><span>Exp&nbsp;</span>&nbsp;Year</label><input class="form-control" type="number" required="" [ngModelOptions]="{standalone: true}" [(ngModel)]='selectedCCYear' placeholder="YY" id="cardExpiry"><small *ngIf=showErr_year class="form-text text-danger">Enter Valid Year</small></div>
                                            </div>
                                            <div class="row" *ngIf='showErr_exprDate'>
                                                    <p class="red">Enter expiration date.</p>
                                            </div>
                                        </div>

                                        <div class="col-5 pull-right">
                                            <div class="form-group"><label for="cardCVC">CVV Code</label><input [ngModelOptions]="{standalone: true}" [(ngModel)]= 'cvv_code' class="form-control" type="number" required="" placeholder="CVC" id="cardCVC"></div>
                                            <div class="row" *ngIf='showErr_cvvCode'>
                                                    <p class="red">Enter cvv number.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group"><label for="cardNumber">Email:</label>
                                                <div class="input-group"><input [ngModelOptions]="{standalone: true}" [(ngModel)]="email" class="form-control form-control-sm" type="text">
                                                    <div class="input-group-append"></div>
                                                </div>
                                                <div class="row"  *ngIf='showErr_email'>
                                                        <p class="red">Enter valid email.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group"><label for="cardNumber">Phone Number:</label>
                                                <div class="input-group">
                                                    <div class="input-group-append"></div><input [ngModelOptions]="{standalone: true}" [(ngModel)]="phone_num" class="form-control" type="number"></div>
                                            </div>
                                            <div class="row"  *ngIf='showErr_phoneNumber'>
                                                    <p class="red">Enter valid phone number.</p>
                                            </div>

                                        </div>
                                    </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 box" style="background-color: rgba(0,0,0,0.03);margin-top: 25px;margin-bottom: 10px;max-height: 620px;">
                <div class="row" style="margin-top: 50px;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h3>Order Summary</h3>
                            </div>
                        </div>
                        <div class="row" *ngFor="let item of this.cart">
                            <div class="col">
                                <p>{{item['product']['name']}}&nbsp;</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{item['product']['price']}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p>Shipping &amp; Handling:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{shipping}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Tax:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{tax}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #d81e05;">TOTAL:</p>
                            </div>
                            <div class="col">
                                <p class="text-right" style="color: #d81e05;">${{total}}</p>
                            </div>
                        </div>
                        <div *ngIf="show_stream" class="row">
                            <div class="col">
                                <p style="color:green">Stream Discount Active!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Congo Credits:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{CongoCredits}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #d81e05;">Total After Credits:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{totalAfterCongoCredit}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h3>Shipping</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Estimated Shipping:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">{{shipping_date | date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row " style="margin-top: 50px;margin-bottom: 5px;">
                    <div class="col" (click)="submitBilling()" style="padding-left: 0px;"><button class="btn btn-primary active btn-lg justify-content-center align-items-center align-content-center" type="button" style="width: 198px;background-color: #aa8e0a;margin-left: 70px;padding-left: 0px;" >Place Order</button></div>
                </div>
                <div class="row " style="margin-top: 20px;margin-bottom: 5px;">   
                    <div class="col" (click)="submitCongoCredit()" style="padding-left: 0px;"><button class="btn btn-primary active btn-lg justify-content-center align-items-center align-content-center" type="button" style="width: 198px;background-color: #aa8e0a;margin-left: 70px;padding-left: 0px;" >Use Congo Credit</button></div>
                    <p *ngIf="showErr_credits" align="center" class="red">Insufficient Congo Credits.</p>
                </div>
            </div>
        </div>
        <div *ngIf=show_fail class="alert">
            <span class="closebtn" (click)="show_fail = false">&times;</span>
                <strong>{{stripe_resp}}</strong> 
          </div>
    </div>
</section>
