<section>
<div class="contact-clean" style="background-color: #ffffff;">
        <form method="post" style=" background-color: rgba(198,160,12,0.5);">
            <h2 class="text-center">Become A Merchant</h2>
            <small class="form-text text-danger" style="margin-bottom: 20px;" *ngIf=showErr_err>{{errMessage_err}}</small>
            <h4>Payment Information</h4>
            <p>You’re almost done! The last thing we need is your credit card information.
              This will be used to your charge you with your yearly subscription of $150 to be a merchant with us. Don’t worry you information is completely secure and encrypted so no one can see it or use it!</p>
            <div class="form-group">
              <input class="form-control" type="email"  placeholder="Card Number" [(ngModel)]='cardNum'>
              <small class="form-text text-danger" *ngIf=showErr_cardNum>Please enter a valid card number.</small>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                      <input class="form-control " type="email"  placeholder="Exp Month" [(ngModel)]='expDate'>
                      <small class="form-text text-danger" *ngIf=showErr_expDate>Please enter a valid year (2 Numbers).</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                      <input class="form-control " type="email"  placeholder="Exp Year" [(ngModel)]='expDate2'>
                      <small class="form-text text-danger" *ngIf=showErr_expDate2>Please enter a valid year (2 Numbers).</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                      <input class="form-control " type="email"  placeholder="CVC" [(ngModel)]='cvc'>
                      <small class="form-text text-danger" *ngIf=showErr_cvc>Please enter a valid CVC.</small>
                    </div>
                </div>
            </div>
            <div class="form-group"><button class="btn btn-secondary" type="submit" style="margin-left: 130px; margin-top: 10px; background-color: #373737;" (click)="submitButton()">SUBMIT</button></div>
        </form>
        <div *ngIf=show_fail class="alert">
            <span class="closebtn" (click)="show_fail = false">&times;</span>
                <strong>{{errMessage_err}}</strong> 
          </div>
    </div>
</section>
