<div class='top'>
    <a href='#' [routerLink]="['/']"><img src='https://raw.githubusercontent.com/amahesh98/CongoLogo/master/Congo.png' alt='Logo'></a>
    <p class='companyName'>CONGO</p>
    <div class='myDropdown'>
      <p>ACCOUNT</p>
      <a (click)="categoriesClickedAccount()"><img src='https://image.flaticon.com/icons/svg/120/120906.svg' alt='down'></a>
      <div class='categories' *ngIf="showCategoriesAccount==true">
        <a href='#'>View Orders</a>
        <a href='#'>Edit Profile</a>
        <a href='#'>Logout</a>
      </div>
    </div>
</div>
<div class='bottom'>
  <div class='myDropdown'>
    <p>CATEGORIES</p>
    <a (click)="categoriesClicked()"><img src='https://image.flaticon.com/icons/svg/120/120906.svg' alt='down'></a>
    <div class='categories' *ngIf="showCategories==true">
      <a href='#'>Office Supplies</a>
      <a href='#'>Shoes</a>
      <a href='#'>Apparel</a>
      <a href='#'>Food</a>
      <a href='#'>Video Games</a>
      <a href='#'>Electronics</a>
    </div>
  </div>
  <div class='searchbar'>
    <form action='#' method='get'>
      <input type='text' placeholder='search' name='searchRequest' [(ngModel)]='searchQuery'>
      <a href='#' [routerLink]="['/search', searchQuery]"><img src='https://image.flaticon.com/icons/png/512/49/49116.png' alt='search'></a>
    </form>
  </div>
  <p class='welcomeName'>Welcome, {{first_name}}</p>
  <a href='#' [routerLink]="['/cart']"><img src='https://image.flaticon.com/icons/png/512/2/2772.png' alt='Cart'></a>
</div>