<div class='top'>
    <a href='/'><img src='https://raw.githubusercontent.com/amahesh98/CongoLogo/master/Congo.png' alt='Logo'></a>
    <p class='companyName'>CONGO</p>
    <!-- <div class='myDropdown'>
      <p>ACCOUNT</p>
      <a href='#'><img src='https://image.flaticon.com/icons/svg/120/120906.svg' alt='down'></a>
    </div> -->
</div>
<div class='bottom'>
  <div class='myDropdown'>
    <p>CATEGORIES</p>
    <a href='#'><img src='https://image.flaticon.com/icons/svg/120/120906.svg' alt='down'></a>
  </div>
  <div class='searchbar'>
    <form action='#' method='get'>
      <input type='text' placeholder='search' name='searchRequest'>
      <a href='#'><img src='https://image.flaticon.com/icons/png/512/49/49116.png' alt='search'></a>
    </form>
  </div>
  <a href='#'><img src='https://image.flaticon.com/icons/png/512/2/2772.png' alt='Cart'></a>
</div>