<div class='top'>
    <a href='#' [routerLink]="['/']"><img src='https://raw.githubusercontent.com/amahesh98/CongoLogo/master/Congo.png' alt='Logo'></a>
    <p class='companyName'>CONGO</p>
</div>
<div class='bottom'>
  <div class='myDropdown'>
    <p>{{categoriesTitle}}</p>
    <a (click)="categoriesClicked()"><img src='https://image.flaticon.com/icons/svg/120/120906.svg' alt='down'></a>
    <div class='categories' *ngIf="showCategories==true" >
      <div *ngFor="let item of categories">
        <a (click)="changeCategory(item)" >{{item}}</a>
      </div>
    </div>
  </div>
  <div class='searchbar'>
    <form action='#' method='get'>
      <input type='text' placeholder='search' name='searchRequest' [(ngModel)]='searchQuery'>
      <a [routerLink]="['/search', searchQuery]" href='#' ><img src='https://image.flaticon.com/icons/png/512/49/49116.png' alt='search'></a>
    </form>
  </div>
  <p class='welcomeName' *ngIf="loggedIn==true">Welcome, {{first_name}}</p>
  <a href='#' class='loginLink' [routerLink]="['/login']" *ngIf='loggedIn==false'>LOGIN</a>
  <a href='#' [routerLink]="['/cart']"><img src='https://image.flaticon.com/icons/png/512/2/2772.png' alt='Cart'></a>
    <div class='accountDropdown' *ngIf='loggedIn==true'>
      <p>ACCOUNT</p>
      <a (click)="accountClicked()"><img src='https://image.flaticon.com/icons/svg/120/120906.svg' alt='down'></a>
      <div class='accountCategories' *ngIf='showAccount==true'>
        <a [routerLink]="['/orders']">Orders</a>
        <a >Account</a>
        <a [routerLink]="['/stream/register']">Stream</a>
        <a *ngIf='merchantLoggedIn==true' [routerLink]="['/merchant/portal']">Merchant</a>
        <a *ngIf='merchantLoggedIn==false' [routerLink]="['/merchant/login']">Merchant</a>
        <a href='#' (click)="logout()">Logout</a>
      </div>
    </div>

</div>
