<section style="background-color: rgba(224,224,224,0.5);" >
  <div class="features-boxed" style="background-color: rgba(225,225,225,0.5);">
         <div class="container">
             <div class="intro">
                 <h2 class="text-center">My Congo Cart</h2>
             </div>
             <div class="row">
                 <div class="col-lg-8">
                     <div class="row box" style="padding-bottom: 10px;background-color: #ffffff;margin-bottom: 10px;margin-right: 0px;margin-left: 0px;padding-top: 5px;">
                         <div class="col">
                             <div class="row" style="height: 39px;">
                                 <div class="col" style="height: 52px;">
                                     <h3>Product #1</h3>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col">
                                     <p>Description of Prouduct</p>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-6"><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;margin-right: 25px;">Delete</button><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;">Edit</button></div>
                             </div>
                         </div>
                         <div class="col-lg-3">
                             <div class="row">
                                 <div class="col">
                                     <p class="text-right" style="margin-top: 15px;">Price: $100.99</p>
                                 </div>
                                 <div class="col">
                                     <p style="margin-left: 25px;">Quantity: n</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="row box" style="padding-bottom: 10px;background-color: #ffffff;margin-bottom: 10px;margin-right: 0px;margin-left: 0px;padding-top: 5px;">
                         <div class="col">
                             <div class="row" style="height: 39px;">
                                 <div class="col" style="height: 52px;">
                                     <h3>Product #2</h3>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col">
                                     <p>Description of Prouduct</p>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-6"><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;margin-right: 25px;">Delete</button><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;">Edit</button></div>
                             </div>
                         </div>
                         <div class="col-lg-3">
                             <div class="row">
                                 <div class="col">
                                     <p class="text-right" style="margin-top: 15px;">Price: $100.99</p>
                                 </div>
                                 <div class="col">
                                     <p style="margin-left: 25px;">Quantity: n</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="row box" style="padding-bottom: 10px;background-color: #ffffff;margin-bottom: 10px;margin-right: 0px;margin-left: 0px;padding-top: 5px;">
                         <div class="col">
                             <div class="row" style="height: 39px;">
                                 <div class="col" style="height: 52px;">
                                     <h3>Product #3</h3>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col">
                                     <p>Description of Prouduct</p>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-6"><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;margin-right: 25px;">Delete</button><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;">Edit</button></div>
                             </div>
                         </div>
                         <div class="col-lg-3">
                             <div class="row">
                                 <div class="col">
                                     <p class="text-right" style="margin-top: 15px;">Price: $100.99</p>
                                 </div>
                                 <div class="col">
                                     <p style="margin-left: 25px;">Quantity: n</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="row box" style="padding-bottom: 10px;background-color: #ffffff;margin-bottom: 10px;margin-right: 0px;margin-left: 0px;padding-top: 5px;">
                         <div class="col">
                             <div class="row" style="height: 39px;">
                                 <div class="col" style="height: 52px;">
                                     <h3>Product #4</h3>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col">
                                     <p>Description of Prouduct</p>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-6"><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;margin-right: 25px;">Delete</button><button class="btn btn-primary btn-sm" type="button" style="background-color: #aa8e0a;">Edit</button></div>
                             </div>
                         </div>
                         <div class="col-lg-3">
                             <div class="row">
                                 <div class="col">
                                     <p class="text-right" style="margin-top: 15px;">Price: $100.99</p>
                                 </div>
                                 <div class="col">
                                     <p style="margin-left: 25px;">Quantity: n</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col box" style="background-color: #ffffff;margin-bottom: 10px;">
                     <h4 class="text-center" style="margin-top: 150px;">Subtotal: $199.00</h4>
                     <div class="row">
                         <div class="col-lg-9 offset-lg-2"><button class="btn btn-primary btn-lg" type="button" style="background-color: #aa8e0a;">Proceed To Checkout</button></div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</section>
