<section style="background-color: #ffffff;" >
  <div class="container">
        <h1 style="padding-top: 15px;">My Cart</h1>
        <div class="row">
            <div class="col box2 formBox" style="background-color: rgba(0,0,0,0.03);padding-right: 15px;margin-right: 10px;">
                <div class="table-responsive">
                    <table class="table cartTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                                <div *ngIf=showCartEmpty>
                                    <h1>Empty:(</h1>
                                </div>
                            <!--><figure ><-->
                                  <tr *ngFor="let item of this.cart['items']">
                                        <img src="{{item['product']['images'][0]}}" alt="product image" width='100' height='100'>
                                        <td>{{item['product']['name']}}</td>
                                        <td>${{item['product']['price']}}</td>
                                        <td>{{item['quantity']}}</td>
                                        <td>{{item['color']}}</td>
                                        <td>{{item['size']}}</td>
                                        <td>${{item['itemTotal']}}</td>
                                        <td><button class="btn btn-primary btn-sm justify-content-center align-items-center align-content-center align-self-center" type="button" (click)="removeProduct(item['_id'],item['product']['name'])" style="background-color: #aa8e0a;">X</button></td>
                                  </tr>
                          <!--> </figure><-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 box2 paymentBox" style="background-color: rgba(0,0,0,0.03);margin-top: 0px;margin-bottom: 0px;max-height: 620px;">
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <div class="row">
                            <div class="col" style="padding-right: 15px;">
                                <h3 style="margin-bottom: 10px;">Order Summary</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Subtotal:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{subtotal}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Shipping &amp; Handling:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{shipping}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Tax:</p>
                            </div>
                            <div class="col">
                                <p class="text-right">${{tax}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #d81e05;">TOTAL:</p>
                            </div>
                            <div class="col">
                                <p class="text-right" style="color: #d81e05;">${{total}}</p>
                            </div>
                        </div>
                        <div *ngIf="show_stream" class="row">
                            <div class="col">
                                <p style="color:green">Stream Discount Active!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h3>Shipping</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Estimated Shipping: {{shipping_date | date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;margin-bottom: 15px;">
                    <div class="col" style="padding-left: 0px;"><button class="btn btn-primary active btn-lg justify-content-center align-items-center align-content-center" type="button" style="width: 198px;background-color: #aa8e0a;margin-left: 70px;padding-left: 0px;" (click)="checkout()">Checkout</button></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf=showAlertSuccess class="alert_success">
        <span class="closebtn" (click)="showAlertSuccess = false">&times;</span>
            <strong>Product removed!</strong> {{alertMessage}}
    </div>
</section>
