<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div class='streamWrapper'>
  <div class='mainBox'>
    <p class='boxTitle'>Become a Stream Member</p>
    <p class='description'>Enjoy discounted prices and expedited shipping on select products</p>
    <p class='big'>One Time $99 Fee</p>
    <input type='text' class='cardNumber' placeholder='Credit Card Number'>
    <input type='text' class='cvv' placeholder='CVV'>
    <input type='text' class='expMonth' placeholder='MM'>
    <input type='text' class='expYear' placeholder='YY'>
    <button class='mySubmit'>JOIN</button>
  </div>
</div>