<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div class='streamWrapper'>
  <div class='mainBox'>
    <p class='boxTitle'>Become a Stream Member</p>
    <p class='description'>Enjoy discounted prices and expedited shipping on select products</p>
    <p class='big'>One Time $99 Fee</p>
    <input type='number' class='cardNumber' [(ngModel)]='cc_number' placeholder='Credit Card Number'>
    <input type='number' class='cvv' [(ngModel)]='cvv_number' placeholder='CVV'>
    <input type='number' class='expMonth' [(ngModel)]='selectedCCDate' placeholder='MM'>
    <input type='number' class='expYear' [(ngModel)]='selectedCCYear' placeholder='YY'>
    <button class='mySubmit' (click)="submitStream()">JOIN</button>
  </div>
  <div *ngIf=show_succ class="alert_success">
    <span class="closebtn" (click)="show_succ = false">&times;</span>
        <strong>Hello Stream Member!</strong> 
  </div>
  <div *ngIf=show_fail class="alert">
    <span class="closebtn" (click)="show_fail = false">&times;</span>
        <strong>{{stripeResp}}</strong> 
  </div>
</div>