<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div class='thisWrapper'>
    <p class='pageTitle'>Manage Merchants</p>
    <div class='boxes'>
        <div class='leftBox'>
            <p class='boxTitle'>Pending</p>
            <input type='text' class='search' placeholder='search'>
            <div class='pendingMerchants'>
                <div class='pendingMerchant'>
                    <p class='merchantName'>Michael Choi Organization</p>
                    <p class='merchantEmail'>michael@choi.choi</p>
                    <p class='merchantDate'>11/18/2018 11:39 AM</p>
                    <p class='merchantDescription'>This is a very important organization used for the benefit of human society</p>
                    <div class='buttons'>
                        <button class='approve'>Approve</button>
                        <button class='reject'>Reject</button>
                    </div>
                </div>
                <div class='pendingMerchant'>
                    <p class='merchantName'>Michael Choi Organization</p>
                    <p class='merchantEmail'>michael@choi.choi</p>
                    <p class='merchantDate'>11/18/2018 11:39 AM</p>
                    <p class='merchantDescription'>This is a very important organization used for the benefit of human society</p>
                    <div class='buttons'>
                        <button class='approve'>Approve</button>
                        <button class='reject'>Reject</button>
                    </div>
                </div>
                <div class='pendingMerchant'>
                    <p class='merchantName'>Michael Choi Organization</p>
                    <p class='merchantEmail'>michael@choi.choi</p>
                    <p class='merchantDate'>11/18/2018 11:39 AM</p>
                    <p class='merchantDescription'>This is a very important organization used for the benefit of human society</p>
                    <div class='buttons'>
                        <button class='approve'>Approve</button>
                        <button class='reject'>Reject</button>
                    </div>
                </div>
            </div>
        </div>
        <div class='rightBox'>
            <p class='boxTitle'>Active</p>
            <input type='text' class='search' placeholder='search'>
            <div class='approvedMerchants'>
                <div class='approvedMerchant'>
                    <p class='merchantName'>Michael Choi Organization</p>
                    <button>Revoke</button>
                </div>
                <div class='approvedMerchant'>
                    <p class='merchantName'>Michael Choi Organization</p>
                    <button>Revoke</button>
                </div>
                <div class='approvedMerchant'>
                    <p class='merchantName'>Michael Choi Organization</p>
                    <button>Revoke</button>
                </div>
            </div>
        </div>
    </div>
</div>