<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div class='thisWrapper'>
    <p class='pageTitle'>Manage Merchants</p>
    <div class='boxes'>
        <div class='leftBox'>
            <p class='boxTitle'>Pending</p>
            <input type='text' class='search' placeholder='search'>
            <div class='pendingMerchants'>
                <div class='pendingMerchant' *ngFor = "let merchant of pending">
                <!-- <div class='pendingMerchant' *ngFor = "let merchant of pending"> -->
                    <p class='merchantName'>{{merchant.name}}</p>
                    <p class='merchantEmail'>{{merchant.email}}</p>
                    <!-- <p class='merchantDate'>11/18/2018 11:39 AM</p> -->
                    <p class='merchantDate'>{{formatDate(merchant.createdAt)}}</p>
                    <p class='merchantDescription'>{{merchant.description}}</p>
                    <div class='buttons'>
                        <button class='approve' (click)='approveMerchant(merchant._id, merchant.index)'>Approve</button>
                        <button class='reject' (click)='rejectMerchant(merchant._id, merchant.index)'>Reject</button>
                    </div>
                </div> 
            </div>
        </div>
        <div class='rightBox'>
            <p class='boxTitle'>Active</p>
            <input type='text' class='search' placeholder='search'>
            <div class='approvedMerchants'>
                <div class='approvedMerchant' *ngFor = "let merchant of active">
                <!-- <div class='approvedMerchant' *ngFor = "let merchant of active"> -->
                    <div class='approvedMerchant'>
                        <p class='merchantName'>{{merchant.name}}</p>
                        <button (click)='revokeMerchant(merchant._id, merchant.index)'>Revoke</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf=show_succ class="alert_success">
        <span class="closebtn" (click)="show_succ = false">&times;</span>
            <strong>{{stripe_resp}}</strong> 
      </div>
      <div *ngIf=show_fail class="alert">
        <span class="closebtn" (click)="show_fail = false">&times;</span>
            <strong>{{stripe_resp}}</strong> 
      </div>
</div>
