<section>
<div class="contact-clean" style="background-color: #ffffff;">
       <form method="post" style="max-width: 600px; background-color: rgba(198,160,12,0.5);">
           <h2 class="text-center">Become A Merchant</h2>
           <h4 style="margin-bottom: 10px;">General Information</h4>
           <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
               irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           <div class="form-group">
             <input class="form-control" type="text" name="name" placeholder="URL" [(ngModel)]='url'>
             <small class="form-text text-danger" *ngIf=showErr_url>Please enter a correct url.</small>
           </div>
           <div class="form-group">
             <input class="form-control " type="email" name="email" placeholder="Email" [(ngModel)]='email'>
             <small class="form-text text-danger" *ngIf=showErr_email>Please enter a correct email address.</small>
           </div>
           <div class="form-group">
             <textarea class="form-control" rows="14" name="message" placeholder="Description" [(ngModel)]='description'></textarea>
             <small class="form-text text-danger" *ngIf=showErr_description>Please enter a description.</small>
           </div>
           <div class="form-group">
             <input class="form-control" type="text" name="name" placeholder="Company Name" [(ngModel)]='companyName'>
             <small class="form-text text-danger" *ngIf=showErr_companyName>Please enter a company name.</small>
           </div>
           <div class="form-group">
             <input class="form-control" type="text" name="name" placeholder="Password" [(ngModel)]='password'>
             <small class="form-text text-danger" *ngIf=showErr_password>Please enter a password.</small>
           </div>
           <div class="form-group">
             <input class="form-control" type="text" name="name" placeholder="Confirm Password" [(ngModel)]='confirmPassword'>
             <small class="form-text text-danger" *ngIf=showErr_confirmPassword>Does not match password entered above.</small>
           </div>
           <h4>Bank Information</h4>
           <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
               irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           <div class="form-group">
             <input class="form-control" type="text" name="name" placeholder="Bank Account #" [(ngModel)]='bankNum'>
             <small class="form-text text-danger" *ngIf=showErr_bankNum>Please enter a valid bank account number.</small>
           </div>
           <div class="form-group">
             <input class="form-control" type="text" name="name" placeholder="Account #" [(ngModel)]='accountNum'>
             <small class="form-text text-danger" *ngIf=showErr_accountNum>Please enter a valid account number.</small>
           </div>
           <div class="form-group">
             <button class="btn btn-secondary" type="submit" style="margin-left: 165px;background-color: #373737;"  (click)="nextButton()">Next Page</button>
           </div>
       </form>
   </div>
 </section>
