<div class="features-boxed" style="color:#c6a00c;background-color:rgb(224,224,224, 0.5);">
       <div class="container">
           <div class="row justify-content-center features" style="padding-bottom:10px;">
               <div class="col-sm-6 col-md-5 col-lg-12 item">
                   <div class="box" style="background-color:rgba(198,160,12,0.24);">
                       <h1 class="text-left name">Hey Rohith,</h1>
                       <p class="text-left description" style="color:#ad9b0c;">Your order is confirmed!</p>
                       <p>Thanks for shopping! Your order of PRODUCT #1 will be shipping soon! Hope to see you soon :)&nbsp;</p>
                   </div>
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row justify-content-center features" style="padding-bottom:50px;padding-top:10px;">
               <div class="col-sm-6 col-md-5 col-lg-12 item">
                   <div class="box" style="background-color:rgba(198,160,12,0.24);">
                       <h1 class="text-left name">Order: 0000000</h1>
                       <div class="row">
                           <div class="col-lg-6" style="height:84px;"><button class="btn btn-primary" type="button" style="background-color:#f2d13d;width:235px;height:37px;margin:45px;">VIEW ORDER</button></div>
                           <div class="col-lg-3">
                               <div class="row" style="height:40px;">
                                   <div class="col">
                                       <p class="text-right">Sub-Total</p>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col">
                                       <p class="text-right">+ Tax</p>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col">
                                       <p class="text-right">Total</p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-3">
                               <div class="row">
                                   <div class="col">
                                       <p class="text-right">###</p>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col">
                                       <p class="text-right">###</p>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col">
                                       <p class="text-right">###</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
