<section style="background-color: #ffffff; padding-bottom:30px;" >

<div>
  <h1 style="margin-left: 30px;padding-top: 15px;">Promote A Product</h1>
  <div class="container" style="margin-top: 25px;background-color: #eeeeee;">
          <div class="row">
              <div class="col" style="margin-top: 15px;">
                  <div class="row">
                      <div class="col-lg-5 offset-lg-1"><img src="{{product['images']['0']}}" style="max-height: 200px; max-width: 200px;" ></div>
                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <h4 style="margin-top: 5px;">{{product['name']}}</h4>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p>{{product['description']}}&nbsp;</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row" style="padding-top: 15px;margin-bottom: 5px;padding-bottom: 10px;">
                      <div class="col">
                          <h5 style="margin-top: 5px;">Promotion Type:</h5>
                      </div>
                      <div class="col">
                          <select (click)="updatePrice()" [(ngModel)]="selectedPromoType" [ngModelOptions]="{standalone: true}">
                            <option value="Small Banner">Small Banner</option>
                            <option value="Big Banner">Big Banner</option>
                            <option value="Featured Product">Featured Product</option>
                          </select>
                      </div>
                  </div>
                  <div class="row" style="margin-bottom: 5px;padding-bottom: 10px;">
                      <div class="col">
                          <h5 style="margin-top: 5px;">Weeks:</h5>
                      </div>
                      <div class="col">
                          <select (click)="updatePrice()" [(ngModel)]="selectedPromoTime" [ngModelOptions]="{standalone: true}" >
                            <option value="One Week">One Week</option>
                            <option value="Two Weeks">Two Weeks</option>
                            <option value="Three Weeks">Three Weeks</option>
                            <option value="Four Weeks">Four Weeks</option>
                          </select>
                      </div>
                  </div>
                  <div class="row" style="padding-bottom: 10px;">
                      <div class="col">
                          <h5 style="margin-top: 5px;">Image Url:</h5>
                      </div>
                      <div class="col">
                          <div class="row">
                              <div class="col"><input type="email"  [(ngModel)]='promotion_image' [ngModelOptions]="{standalone: true}" placeholder="Enter Url"></div>
                          </div>
                          <div class="row">
                              <div class="col"><small class="form-text text-danger" *ngIf=showErr_imgurl style="color: rgb(114,29,119);">Enter A Valid Url</small></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" style="margin-top: 15px;">
                  <div class="row">
                      <div class="col">
                          <h4 style="margin-bottom: 15px;">Payment Description</h4>
                          <div class="row">
                              <div class="col">
                                  <h5>Selected Type:</h5>
                              </div>
                              <div class="col">
                                  <p>{{selectedPromoType}}</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <h5>Number of Weeks:</h5>
                              </div>
                              <div class="col">
                                  <p>{{selectedPromoTime}}</p>
                              </div>
                          </div>
                          <div class="row" style="margin-top: 16px;">
                              <div class="col">
                                  <h4>Total:</h4>
                              </div>
                              <div class="col">
                                  <h4>${{total_price}}</h4>
                              </div>
                          </div>
                          <div class="row .payment-dialog-row" style="margin-bottom: 15px;">
                              <div class="col-12 col-md-4 col-lg-11 offset-md-4 offset-lg-0">
                                  <div class="card credit-card-box" style="margin-top: 10px;">
                                      <div class="card-body" style="background-color: #ebebeb;">
                                          <form id="payment-form">
                                              <div class="form-row">
                                                  <div class="col-12">
                                                      <div class="form-group"><label for="cardNumber">Card number </label>
                                                          <div class="input-group"><input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]='card_number' type="number" required="" placeholder="Valid Card Number" id="cardNumber">
                                                              <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                                                          </div><small *ngIf=showErr_ccn class="form-text text-danger">Enter A Valid Card Number</small></div>
                                                  </div>
                                              </div>
                                              <div class="form-row">
                                                  <div class="col-7 col-lg-4">
                                                      <div class="form-group"><label for="cardExpiry"><span>&nbsp;</span><span>Exp&nbsp;</span>&nbsp;Month</label><input class="form-control" type="number" required="" [ngModelOptions]="{standalone: true}" [(ngModel)]='selectedCCDate' placeholder="MM" id="cardExpiry"><small *ngIf=showErr_date class="form-text text-danger">Enter Valid Month</small></div>
                                                  </div>
                                                  <div class="col-7 col-lg-4">
                                                      <div class="form-group"><label for="cardExpiry"><span>&nbsp;</span><span>Exp&nbsp;</span>&nbsp;Year</label><input class="form-control" type="number" required="" [ngModelOptions]="{standalone: true}" [(ngModel)]='selectedCCYear' placeholder="YY" id="cardExpiry"><small *ngIf=showErr_year class="form-text text-danger">Enter Valid Year</small></div>
                                                  </div>
                                                  <div class="col-7 col-lg-4">
                                                      <div class="form-group"><label for="cardExpiry">CVC Code</label><input class="form-control" type="number" required="" placeholder="CVC" [(ngModel)]='cvv_number' [ngModelOptions]="{standalone: true}"  id="cardExpiry"><small *ngIf=showErr_cvv class="form-text text-danger">Enter Valid CVC</small></div>
                                                  </div>
                                              </div>
                                              <div class="form-row">
                                                  <div class="col-12"><button class="btn btn-light btn-block btn-lg" type="submit" (click)="submitPromote()" style="background-color: rgba(198,160,12,0.9);">Submit Promotion Order</button></div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
