<button [routerLink]="['/cart']">Cart</button>
<button [routerLink]="['/checkout']">Checkout</button>
<button [routerLink]="['/checkout-conf']">CheckoutConf</button>
<button [routerLink]="['/login']">UserLogin</button>
<button [routerLink]="['/merchant/login']">MerchantLogin</button>
<button [routerLink]="['/merchant/portal']">MerchantPortal</button>
<button [routerLink]="['/merchant/products']">MerchantProduct</button>
<button [routerLink]="['/registration']">User-Reg</button>
<button [routerLink]="['/product', '5bb6da3d6c36305fb37b4a15']">Product</button>
<button [routerLink]="['/dummyAdd']">Dummy Add Product</button>
<button [routerLink]="['/promoteprod', '5bb6d80dc0c520458c5b6be0']">Promote Product</button>
<button [routerLink]="['/merchant-reg1']">Merchant Reg1</button>
<button [routerLink]="['/merchant-reg2']">Merchant Reg2</button>
<button [routerLink]="['/merchant-reg-conf']">Merchant Reg Conf</button>
<button [routerLink]="['/purchase-history']">Purchase History</button>
<app-header></app-header>
<router-outlet></router-outlet>
