<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="grid-container">
  <div class="Filter">
    <form>
      <div class="centerFilter" align="center">
      <h4>Ratings:</h4>
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>5 Stars</label>
      <br />
       <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>3-4 Stars</label>
      <br />
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>1-2 Stars</label>
    </div>
      <br />

      <div class="centerFilter"  align="center">
      <h4>SubCategory:</h4>
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>Books</label>
      <br />
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>Furniture</label>
      <br />
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>Electronics</label>
    </div>
      <br />

      <div class="centerFilter"  align="center">
       <h4>Price:</h4>
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>$$$$</label>
      <br />
       <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>$$$</label>
      <br />
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>$</label>
    </div>
      <br />

    
      <div class="centerFilter"  align="center">
      <h4>OrderBy:</h4>
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>Relevance</label>
      <br />
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>Popular</label>
      <br />
     <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
      &nbsp;
      <label>Low-High</label>
      <br />
      <label class="switch" ><input type="checkbox" /> <div></div>
      </label>
        &nbsp;
      <label>High-Low</label>
      </div>
      <br />
    </form>

  </div>

  <div class="Pagenumbers">

    <div class="area-overlap prev">
        <a class="button" href="#">Prev</a>
    </div>
    <div class="next">
        <a class="button" href="#">Next</a>
    </div>
    <div class="showPage">
      <h4>Results:</h4>
    </div>
  </div>

  <div class="DisplayContent">
    

    <div class="CategoryFilter">
      <div class="area-overlap Category">
        <h4>Category:</h4>
      </div>
      <div class="SearchBy">
        <h4>Search By:</h4>
      </div>
    </div>

    <div class="NumberResult">
      <div class="area-overlap number">
        <h4>Number Results:</h4>
      </div>
      <div class="showNumber">
        <label>1</label>
      </div>
      <div class="per">
        <h4>per page</h4>
      </div>
    </div>

    <div class="Products">
      <div class="product1">
        <div class="example-1 card">
          <div class="wrapper">
            <div class="priceContainer">
              <span class="price">$12.00</span>
              <span class="productV">View</span>
              <span class="prodL">Product</span>
            </div>
            <div class="data">
              <div class="content">
                <span class="merchant">by Raman's Farm</span>
                <h1 class="productName"><a href="#">Fresh Orange</a></h1>
                <p class="productDescription"> Raman has picked this fresh orange for you.</p>
                <a [routerLink]="['/product']" class="button">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        </div>

        <div class="product2">
          <div class="example-2 card" >
            <div class="wrapper">
              <div class="priceContainer">
                <span class="price">$25.00</span>
                <span class="productV">View</span>
                <span class="prodL">Product</span>
              </div>
              <div class="data">
                <div class="content">
                    <h2 class="productName"><a href="#">Spiderman Costume</a></h2>
                  <span class="merchant">by Gustavo
                  </span>
                 
                  <p class="productDescription"> Get your spiderman on with this realistic suit.
                    <a class="button" [routerLink]="['/product']">Buy Now</a>
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>