  <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <div  class="grid-container">
    <div  class="Filter">
      <!-- <form>
        <div class="centerFilter">
          <h4  align="center">Ratings:</h4>
          <label class="switch"><input type="checkbox" (click)="setFiveStarFilter()" > <div></div></label>
           &nbsp;
           <label>5 Stars</label>
          <br/>
         <label class="switch"><input type="checkbox" (click)="setThreeFourStarFilter()"/> <div></div></label>
         &nbsp;
          <label>3-4 Stars</label>
          <br/>
          <label class="switch"><input type="checkbox" (click)="setOneTwoStarFilter()"/> <div></div></label>
          &nbsp;
          <label>1-2 Stars</label>
          </div>
          <br/>
      <div class="centerFilter">
          <h4 align="center">OrderBy:</h4>
          <br/>
          <label class="switch"><input type="checkbox" (click)="setPopularFilter()"/> <div></div></label>
          &nbsp;
          <label>Popular</label>
          <br/>
          <label class="switch"><input type="checkbox" (click)="setLowHighFilter()"/> <div></div></label>
          &nbsp;
          <label>Low-High</label>
          <br/>
          <label class="switch"><input type="checkbox" (click)="setHighLowFilter()" /> <div></div>
          </label>
          &nbsp;
          <label>High-Low</label>
          </div>
          <br/>
      <a class="button" (click)="searchFilter()">Apply</a>
      </form> -->
    <h4 align="center">Ratings</h4>
    <label class="container">5 star
      <input type="checkbox" value="fiveStar" [(ngModel)]="five_star_filter" >
      <span class="checkmark"></span>
    </label>
    <label class="container">3-4 star
      <input type="checkbox" [(ngModel)]="three_four_star_filter">
      <span class="checkmark"></span>
    </label>
    <label class="container">1-2 star
      <input type="checkbox" [(ngModel)]="one_two_star_filter">
      <span class="checkmark"></span>
    </label>

    <h4 align="center">Order By</h4>
    <label class="container">Popular
      <input type="checkbox" [(ngModel)]="popular_filter">
      <span class="checkmark"></span>
    </label>
    <label class="container">High-Low
      <input type="checkbox" [(ngModel)]="high_low_filter">
      <span class="checkmark"></span>
    </label>
    <label class="container">Low-High
      <input type="checkbox" [(ngModel)]="low_high_filter">
      <span class="checkmark"></span>
    </label>
    <a class="button" (click)="searchFilter()">Apply</a>
  </div>

  <div class="Pagenumbers">
    <div class="area-overlap prev">
      <a class="button" href="#">Prev</a>
      </div>
      <div class="next">
      <a class="button" href="#">Next</a>
      </div>
      <div class="showPage">

     </div>
  </div>

  <div class="DisplayContent">
    <div class="NumberResult">
      <div class="area-overlap number">
      <h6>Results:</h6>
      </div>
      <div class="showNumber">
      <label>{{num_results}}</label>
      </div>
      <div class="per">
      <h6>per page</h6>
    </div>
  </div>

  <div class="Products">

    <div *ngIf=show_noProducts>
      <h1>No Products Found</h1>
    </div>    
    <!-- <div id="wrap" *ngIf=!show_noProducts>
      <div id="columns" class="columns_3" >
        
        <figure *ngFor="let product of products">
          <div class="priceContainer">
            <span class="price" style="font-weight: bold">${{product['price']}}</span>
            </div>
            <img src="{{product['images'][0]}}" style="width: 250px; height: 250px;">
            <figcaption>{{product['name']}}</figcaption>

            <div style="text-align: center">
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
          </div>
        <a class="button" href="#" [routerLink]="['/product',product['_id']]">Buy Now</a>
        </figure>

       </div>
      </div> -->
      <div class='products' *ngIf=!show_noProducts>
        <!-- Product -->
        <div class='product' *ngFor='let product of products'>
          <img [routerLink]="['/product', product._id]" src="{{product['images'][0]}}" alt='Product image'>
          <p class='productName'>{{product.name}}</p>
          <p class='productName' style="font-weight: bold">${{product['price']}}</p>
          <div style="text-align: center">
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
          </div>
          <div class='buttons'>
              <a class="button" href="#" [routerLink]="['/product',product['_id']]">Buy Now</a>
          </div>
        </div>
      </div>
    </div>







