  <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <div  class="grid-container">
    <div  class="Filter">
    <h4 align="center">Ratings</h4>
    <input class="inp-cbx" id="fiveS" type="checkbox" [(ngModel)]="five_star_filter" style="display: none;"/>
    <label class="cbx" for="fiveS"><span>
        <svg width="12px" height="10px" viewbox="0 0 12 10">
          <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg></span><span>5 star</span></label>

    <input class="inp-cbx" id="TFS" type="checkbox" [(ngModel)]="three_four_star_filter" style="display: none;"/>
    <label class="cbx" for="TFS"><span>
        <svg width="12px" height="10px" viewbox="0 0 12 10">
          <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg></span><span>3-4 star</span></label>

      <input class="inp-cbx" id="OTS" type="checkbox" [(ngModel)]="one_two_star_filter" style="display: none;"/>
      <label class="cbx" for="OTS"><span>
          <svg width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg></span><span>1-2 star</span></label>    

    <h4 align="center">Order By</h4>
    <input class="inp-cbx" id="popular" type="checkbox" [(ngModel)]="popular_filter" style="display: none;"/>
    <label class="cbx" for="popular"><span>
        <svg width="12px" height="10px" viewbox="0 0 12 10">
          <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg></span><span>Popular</span></label> 

      <input class="inp-cbx" id="HL" type="checkbox" [(ngModel)]="high_low_filter" style="display: none;"/>
      <label class="cbx" for="HL"><span>
          <svg width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg></span><span>High-Low</span></label> 

        <input class="inp-cbx" id="LH" type="checkbox" [(ngModel)]="low_high_filter" style="display: none;"/>
        <label class="cbx" for="LH"><span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg></span><span>Low-High</span></label> 


    <a class="button" (click)="searchFilter()">Apply</a>
  </div>

  <div class="Pagenumbers">
    <div class="area-overlap prev">
      <a class="button">Prev</a>
      </div>
      <div class="next">
      <a class="button">Next</a>
      </div>
      <div class="showPage">
        <h4 style="padding-top: 10%;">Page: {{current_page}} of {{page_results}}</h4>
     </div>
  </div>

  <div class="DisplayContent">
    <div class="NumberResult">
      <div class="area-overlap number">
      <h6>Results:</h6>
      </div>
      <div class="showNumber">
      <label>{{num_results}}</label>
      </div>
  </div>

  <div class="Products">

    <div *ngIf=show_noProducts>
      <h1>No Products Found</h1>
    </div>    
    <!-- <div id="wrap" *ngIf=!show_noProducts>
      <div id="columns" class="columns_3" >
        
        <figure *ngFor="let product of products">
          <div class="priceContainer">
            <span class="price" style="font-weight: bold">${{product['price']}}</span>
            </div>
            <img src="{{product['images'][0]}}" style="width: 250px; height: 250px;">
            <figcaption>{{product['name']}}</figcaption>

            <div style="text-align: center">
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
            <span class="fa fa-star {{star}}"></span>
          </div>
        <a class="button" href="#" [routerLink]="['/product',product['_id']]">Buy Now</a>
        </figure>

       </div>
      </div> -->
      <div class='products' *ngIf=!show_noProducts>
        <!-- Product -->
        <div class='product' *ngFor='let product of products'>
          <img [routerLink]="['/product', product._id]" src="{{product['images'][0]}}" alt='Product image'>
          <p class='productName'>{{product.name}}</p>
          <p class='productName' style="font-weight: bold">${{product['price']}}</p>
          <div style="text-align: center">
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
              <span class="fa fa-star {{star}}"></span>
          </div>
          <div class='buttons'>
              <a class="button" href="#" [routerLink]="['/product',product['_id']]">Buy Now</a>
          </div>
        </div>
      </div>
    </div>







