.grid-container {
  background: var(--bg);
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 3fr 0.2fr;
  grid-template-rows: 3.5fr 0.3fr 0.4fr;
  grid-gap: 1px 1px;
  grid-template-areas: "Filter DisplayContent ." ". Pagenumbers ." ". . .";
}
.centerFilter {
  margin: auto;
}
.Filter {
  border: 2px solid #000000;
  background: rgb(53, 53, 53);
  color: white;
  grid-area: Filter;
}
.Pagenumbers {
  display: grid;
  grid-area: Pagenumbers;
  grid-template-columns: 1.3fr 1.3fr 0.4fr;
  grid-template-rows: 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "prev next showPage" "prev next showPage";
}
.prev {
  grid-area: prev;
}
.next {
  grid-area: next;
}
.showPage {
  grid-area: showPage;
}
.DisplayContent {
  display: grid;
  grid-area: DisplayContent;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.1fr 1.9fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". NumberResult" "Products Products";
}
.Category {
  grid-area: Category;
}
.SearchBy {
  grid-area: SearchBy;
}
.NumberResult {
  display: grid;
  grid-area: NumberResult;
  grid-template-columns: 1.25fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "number showNumber per" "number showNumber per";
}
.number {
  grid-area: number;
}
.showNumber {
  text-align: center;
  vertical-align: bottom;
  grid-area: showNumber;
}
.per {
  grid-area: per;
}
.Products {
  grid-area: Products;
}
@media all and (-ms-high-contrast: none){
  .grid-container {
      display: -ms-grid;
      -ms-grid-columns: 0.5fr 3fr 0.2fr;
      -ms-grid-rows: 0.4fr 0.4fr 3.5fr 0.3fr 0.4fr;
 }
  .Filter {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
 }
  .Pagenumbers {
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
 }
  .DisplayContent {
      display: -ms-grid;
      -ms-grid-columns: 1.5fr 0.5fr;
      -ms-grid-rows: 0.1fr 1.9fr;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
 }
  .CategoryFilter {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
 }
  .NumberResult {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
 }
  .Products {
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
 }
}
/* product css*/
/* *{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
body {
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#wrap{
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}
.columns_3 figure{
  max-width:400;
  max-height:400;
  margin-right:1%;
}
.columns_3 figure:nth-child(3){
  margin-right: 0;
}
#columns figure:hover{
  -webkit-transform: scale(1.1);
  -moz-transform:scale(1.1);
  transform: scale(1.1);
}
div#columns priceContainer {
  position: absolute;
  top: 0;
  left: 0;
}
div#columns figure priceContainer span {
  display: block;
  text-align:center;
}
div#columns figure priceContainer price {
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0,0,0,0.18);
}
#columns:hover figure:not(:hover) {
  opacity: 0.4;
}
div#columns figure {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 0px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
div#columns figure img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height:60px;
  font-weight:600;
  text-overflow:ellipsis;
}
a.button{
  padding:10px;
  background:salmon;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #ff6536;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
  background:#ff6536;
  border-bottom:3px solid salmon;
  color:#f1f2f3;
}
@media screen and (max-width: 960px) {
  #columns figure {
      width: 24%;
 }
}
@media screen and (max-width: 767px) {
  #columns figure {
      width:32%;
 }
}
@media screen and (max-width: 600px) {
  #columns figure {
      width: 49%;
 }
}
@media screen and (max-width: 500px) {
  #columns figure {
      width: 100%;
 }
} */
div.products{
  text-align: center;
}
div.product{
  /* vertical-align: top; */
  width:260px;
  /* height:400px; */
  border:1px solid red;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  background:rgb(87, 87, 87);
  border-radius:5px;
  padding:1px 0px;
  border:1px solid white;
  display:inline-block;
  margin-bottom:20px;
}
div.product img{
  width:210px;
  height:210px;
  display:block;
  margin:auto;
  margin-top:10px;
  border-radius:7px;
}
div.product p.productName{
  /* border:1px solid green; */
  color:white;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  height: 20px;
  margin-top:6px;
  margin-bottom:0px;
}
div.product div.buttons{
  display: block;
  text-align:center;
  margin-bottom:10px;
  /* vertical-align: bottom; */
}

/*product css end */
/* toggle filter buttons */
/* .switch input {
  position: absolute;
  opacity: 0;
}
.switch {
  display: inline-block;
  font-size: 10px;
 
  height: 1em;
  width: 2em;
  background: #000000;
  border-radius: 1em;
}
.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: #a67c00;
} */

/* The container */
.container {
  display: block;
  position: relative;
  margin-left: 10px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(255, 233, 111);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: flex;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 3px;
  height: 3px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* end toggle filter buttons*/
/* buy now button */
a.button{
  padding:10px;
  background:black;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 0.5s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid gray;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
a.button:hover{
  background: #bba359;
  border-bottom:3px solid gold;
  color:#fff;
}
/*end buy now button*/
/* css for the prev next page buttons */
/* end css for the prev next buttons*/
/* https://codepen.io/jamesbarnett/pen/vlpkh?editors=1100 star UI */
.checked {
  color: orange;
}
/* end star */



/* checkbox */
.cbx {
  margin: auto;
  padding-left:10px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid rgb(0, 0, 0);
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: rgb(255, 233, 111);
}

.inp-cbx:checked + .cbx span:first-child {
  background: rgb(255, 233, 111);
  border-color: rgb(255, 233, 111);
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
/*checkbox */